<div class="row mb-video-and-features">

  <div class="col-md-7 col-lg-8">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/uzOXzvMG2G8?rel=0&showinfo=0&html5=1"
              frameborder="0"
              allowfullscreen
              style="border:1px solid #ccc" >
              </iframe>
    </div>
  </div>

  <div class="col-md-5 col-lg-4">
    <h3 class="mb-features-heading">なぜMultiBit HDを選ぶのか？</h3>
    <p>マルチビットHDは次のとおりです。</p>
    <ul class="list">
      <li>
        迅速かつすべての主要なデスクトップオペレーティングシステム（Windows、OS X、Linux）の全体にインストールするのは簡単</li>
      <li>設計によってセキュア - すべてのデータがローカルマシン上で暗号化されたまま</li>
      <li>より高速に同期化します - 通常分程度を</li>
      <li>決定論 - あなたはあなたのbitcoinを再利用するために使用できるシードフレーズを持っている</li>
      <li>分散型 - なし固定サーバーのみBitcoinネットワーク</li>
      <li>（前回のリリースで40以上）複数の言語 - 国際</li>
    </ul>
    <p>あなたがBitcoinの通常のユーザーであり、単純に手間をかけずに動作する財布をする場合は、マルチビットHDはあなたのための正しい選択です。</p>
    <p>あなたは上のボタンを使用してそれをダウンロードし、起動して5分後にBitcoinを使用して実行することができます。</p>
    <p>バージョンは、ダウンロードセクションに移動の完全なリストを取得します。</p>
  </div>

</div>


