body { background-color: white; color: black; font-family: verdana, arial, helvetica, sans-serif; }
A { color: #2765B4; font-family: verdana, arial, helvetica, sans-serif; text-decoration: none; font-size: 13px; }
A:hover { color: #FF4400; font-family: verdana, arial, helvetica, sans-serif; text-decoration: underline; font-size: 13px; }
h5 {margin-top: 18px; margin-bottom:12px; font-size: 16px; }
td { font-family: verdana, arial, helvetica, sans-serif; }
p {color: black;  font-family: Verdana, Arial, Helvetica, sans-serif; padding: 0px;  font-size: 13px; }
li {color: black;  font-family: Verdana, Arial, Helvetica, sans-serif; padding: 0px;  font-size: 13px; }
table {color: black;  font-family: Verdana, Arial, Helvetica, sans-serif; height: 10px;  padding: 0px;  font-size: 13px; }
td {color: black;  font-family: Verdana, Arial, Helvetica, sans-serif; padding: 0px;  font-size: 13px; }
