<div class="row mb-video-and-features">

  <div class="col-md-7 col-lg-8">

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/send-payment.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/request-payment.png"/>
        </div>
        <div class="active item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/payments.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/new-contact.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/preferences.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/manage-wallet.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/tools.png"/>
        </div>
      </div>
    </div>

  </div>

  <noscript>
    <div class="col-md-5 col-lg-4">
      <h3 class="mb-features-heading">为什么选择多位HD？</h3>

      <p>如果你是比特币的普通用户，并希望拥有一个实用的钱包，那么多位HD就是您正确的选择。</p>
      <p>多位HD是：</p>
      <ul id="features-list-ns" class="list">
        <li>安装快速, 简单<br/>我们支持所有主要的桌面操作系统（Windows，Mac OS X和Linux）</li>
        <li>设计安全<br/>您的所有数据都加密保存在本地计算机上，我们支持硬件的钱包，如<a href=“https://buytrezor.com?a=multibit.org” target="_blank"> Trezor</a></li>
        <li>确定性<br/>一组<strong>钱包字</strong>保护您的比特币从数据丢失</li>
        <li>分散<br/>没有固定的服务器只在Bitcoin网络</li>
        <li>国际性<br/>我们支持<a href="https://crowdin.com/project/multibit-hd" target="_blank">超过40种语言</a></li>
      </ul>

      <p>您可以使用上面的按钮下载它，将在5分钟内和比特币一起运行。</p>

      <p>要获得完整版本列表转到<a href="/download.html">下载部分</a>。</p>
    </div>

  </noscript>

  <div class="col-md-5 col-lg-4 jsok">
    <h3 class="mb-features-heading">为什么选择多位HD？</h3>
    <p>如果你是比特币的普通用户，并希望这只是一个工作的钱包，然后多位HD是您正确的选择。</p>
    <p>多位HD是：</p>
    <ul id="features-list-js" class="list">
      <li><i class="fa fa-windows fa-lg"></i>&nbsp;快速，易于安装<br/>我们支持所有主要的桌面操作系统（Windows，Mac OS X和Linux）</li>
      <li><i class="fa fa-shield fa-lg"></i>&nbsp;安全通过<br/>您的所有数据都保存加密在本地计算机上，我们支持硬件的钱包，如<a href=“https://buytrezor.com?a=multibit.org” target="_blank"> Trezor</a></li>
      <li><i class="fa fa-magic fa-lg"></i>&nbsp;确定性<br/>一组<strong>钱包字</strong>保护您的比特币从数据丢失</li>
      <li><i class="fa fa-cloud fa-lg"></i>&nbsp;分散<br/>没有固定的服务器只在Bitcoin网络</li>
      <li><i class="fa fa-globe fa-lg"></i>&nbsp;国际<br/>我们支持<a href="https://crowdin.com/project/multibit-hd" target="_blank">超过40种语言</a></li>
    </ul>

    <p>您可以使用上面的按钮下载它，并启动和比特币在5分钟内运行。</p>

    <p>要获得完整列表版本转到<a href="/download.html">下载部分</a>。</p>
  </div>

</div>

<script language="JavaScript">

  // invoke the carousel
  $('#myCarousel').carousel({
    interval: 5000
  });

  /* SLIDE ON CLICK */

  $('.carousel-linked-nav > li > a').click(function () {

// grab href, remove pound sign, convert to number
    var item = Number($(this).attr('href').substring(1));

// slide to number -1 (account for zero indexing)
    $('#myCarousel').carousel(item - 1);

// remove current active class
    $('.carousel-linked-nav .active').removeClass('active');

// add active class to just clicked on item
    $(this).parent().addClass('active');

// don't follow the link
    return false;
  });

  /* AUTOPLAY NAV HIGHLIGHT */

  // bind 'slid' function
  $('#myCarousel').bind('slid', function () {

// remove active class
    $('.carousel-linked-nav .active').removeClass('active');

// get index of currently active item
    var idx = $('#myCarousel .item.active').index();

// select currently active item and add active class
    $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

  });

</script>
