<h3>Blog</h3>
<p>Below is a list of the main blog articles that are currently available:</p>
<ul>
  <li><a href="/blog/2015/02/27/multibit-hd-beta-7.html">MultiBit HD Beta 7 release</a></li>
  <li><a href="/blog/2015/02/11/multibit-hd-beta-6.html">MultiBit HD Beta 6 release</a></li>
  <li><a href="/blog/2015/02/04/multibit-hd-beta-5.html">MultiBit HD Beta 5 release</a></li>
  <li><a href="/blog/2015/02/02/wallet-forensics.html">Wallet forensics for issue #661</a></li>
  <li><a href="/blog/2014/08/13/multibit-hd-is-now-open-source.html">MultiBit HD is now open source</a></li>
  <li><a href="/blog/2014/04/28/private-key-safety-improvements.html">Private key safety improvements</a></li>
  <li><a href="/blog/2014/04/11/multibit-hd-brit.html">Introducing BRIT</a></li>
  <li><a href="/blog/2014/04/10/multibit-and-heartbleed.html">MultiBit and Heartbleed</a></li>
  <li><a href="/blog/2014/03/26/multibit-hd-welcome-wizard.html">MultiBit HD welcome wizard</a></li>
  <li><a href="/blog/2014/03/17/multibit-hd-sneak-preview.html">MultiBit HD sneak preview</a></li>
  <li><a href="/blog/2014/03/10/multibit-downloads-reach-1.5m.html">MultiBit downloads reach 1.5m</a></li>
  <li><a href="/blog/2014/03/02/hmrc-clarifies-tax.html">HMRC clarifies tax on UK Bitcoin businesses</a></li>
  <li><a href="/blog/2014/02/27/dos-attacks.html">Denial of service attacks</a></li>
  <li><a href="/blog/2013/09/27/amsterdam.html">MultiBit and Trezor in Amsterdam</a></li>
  <li><a href="/blog/2013/07/24/how-to-check-signatures.html">How to check signatures</a></li>
  <li><a href="/blog/2013/05/01/multibit-downloads.html">Downloads for April 2013</a></li>
  <li><a href="/blog/2013/04/24/cceeshh.html">C.C.E.E.S.H.H.</a></li>
  <li><a href="/blog/2013/04/23/java-is-secure.html">Java is secure</a></li>
</ul>
<br/>
<p><a href="/atom.xml"><img src="/images/common/rssicon.png" alt="Subscribe via Atom">&nbsp;Subscribe via Atom</a></p>
