<h1>All news and events</h1>
<p>Below is a list of the main blog articles that are currently available.</p>
<h2>News and information</h2>
<ul>
<li><a href="/blog/2013/05/01/multibit-downloads.html">Downloads for April 2013</a></li>
<li><a href="/blog/2013/04/24/cceeshh.html">C.C.E.E.S.H.H.</a></li>
<li><a href="/blog/2013/04/23/java-is-secure.html">Java is secure</a></li>
</ul>
<h2>Release</h2>
<ul>
  <li><a href="/blog/2013/04/22/v0.5.9.html">v0.5.9</a></li>
  <li><a href="/blog/2013/03/19/v0.4.23.html">v0.4.23</a></li>
  <li><a href="/blog/2013/03/11/v0.4.22.html">v0.4.22</a></li>
  <li><a href="/blog/2013/02/24/v0.4.21.html">v0.4.21</a></li>
</ul>
<h2>Events</h2>
<ul>
  <li><a href="/blog/2012/07/16/london.html">London Conference</a></li>
  <li><a href="/blog/2012/06/27/berlin.html">Berlin Hackathon</a></li>
  <li><a href="/blog/2011/10/24/prague.html">Prague Conference</a></li>
</ul>