<h3>The MultiBit HD Team</h3>
<p>The following people are involved in the creation of MultiBit HD</p>
<ul>
  <li><a href="https://github.com/jim618" target="_blank">Jim Burton (Developer)</a></li>
  <li><a href="http://gary-rowe.com" target="_blank">Gary Rowe (Developer)</a></li>
</ul>
<p>Due to the number of downloads MultiBit HD gets we cannot answer every support query personally.</p>
<p>Please <a href="/help.html">use the dedicated Help section</a> if you encounter a problem.</p>

<h3 id="communities">Bitcoin communities</h3>
<p>Of course there are many other people interested in Bitcoin, and many people have asked us where they can go in order to learn more about Bitcoin. We present a short list below.</p>
<ul>
  <li><a href="#getting-started-all">Getting started for everyone</a></li>
  <li><a href="#getting-started-merchants">Getting started for merchants</a></li>
  <li><a href="#getting-started-traders">Getting started for investors and traders</a></li>
  <li><a href="#getting-started-devs">Getting started for developers</a></li>
  <li><a href="#question">Got a question?</a></li>
  <li><a href="#news">Bitcoin news and gossip</a></li>
  <li><a href="#reddit">Reddit</a></li>
  <li><a href="#twitter">Twitter</a></li>
  <li><a href="#facebook">Facebook</a></li>
  <li><a href="#bitcoin-talk">Bitcoin talk</a></li>
  <li><a href="#irc">IRC</a></li>
</ul>

<h4 id="getting-started-all">Getting started for everyone</h4>
<p>The following sites should be read or viewed by anyone wanting to get into Bitcoin:</p>
<ul>
  <li><a href="http://www.weusecoins.com" target="_blank">We Use Coins</a> - start here!</li>
  <li><a href="http://howtobuybitcoins.info" target="_blank">How to buy bitcoins</a> -  in your country</li>
  <li><a href="https://bitcoin.it/wiki/FAQ" target="_blank">The Official FAQ</a> - a comprehensive review of Bitcoin</li>
  <li><a href="https://bitcoin.it/wiki/Myths" target="_blank">Debunking Myths</a> - go here if you're skeptical</li>
  <li><a href="https://www.cryptocompare.com" target="_blank">CryptoCompare</a> - go here for news and reviews of wallets, mining, alt-coins and more</li>
</ul>

<h4 id="getting-started-merchants">Getting started for merchants</h4>
<p>Merchants can benefit from reading these pages:</p>
<ul>
  <li><a href="https://bitcoinaverage.com" target="_blank">Bitcoin Average</a> - an exchange rate averaged over popular exchanges</li>
  <li><a href="https://bitcoin.it/wiki/Trade" target="_blank">Sites That Accept Bitcoin</a> - see what everyone else is up to</li>
  <li><a href="https://en.bitcoin.it/wiki/Merchant_Howto" target="_blank">Merchant How-to</a> - start your own Bitcoin business</li>
  <li><a href="http://www.kemplittle.com/site/articles/kl_bytes/Digital_currency_a_primer_for_inhouse_lawyers" target="_blank">Legal perspective</a> - a primer for in-house lawyers</li>
</ul>

<h4 id="getting-started-traders">Getting started for investors and traders</h4>
<p>Investors, traders and speculators may find the following links useful:</p>
<ul>
  <li><a href="http://bitcoinwisdom.com/" target="_blank">Bitcoin Wisdom</a> - Compare Bitcoin exchanges</li>
  <li><a href="http://bitcoincharts.com/" target="_blank">Bitcoin Charts</a> - Markets</li>
  <li><a href="https://blockchain.info/charts" target="_blank">Blockchain.info</a> - Stats and graphics</li>
  <li><a href="https://coinbase.com" target="_blank">Coinbase</a> - A large Bitcoin exchange (USA)</li>
  <li><a href="https://www.bitstamp.net" target="_blank">Bitstamp</a> - A large Bitcoin exchange (Europe)</li>
  <li><a href="https://btc-e.com/" target="_blank">BTC-e</a> - A large Bitcoin exchange (Russia)</li>
</ul>

<h4 id="getting-started-devs">Getting started for developers</h4>
<p>If you want to start developing code for a Bitcoin business, or want to join in with a popular open source initiative then you would do well to look into these projects:</p>
<ul>
  <li><a href="http://bitcoin.org/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a> - the original Satoshi paper (a must read for developers)</li>

  <li><a href="http://bitcoindev.us.to/en/developer-guide" target="_blank">Developer guide</a> - An easy to read developer guide (<a href="https://github.com/saivann/bitcoin.org/blob/dev/en/developer-guide.md" target="_blank">contribute through the GitHub repo</a>)</li>
  <li><a href="https://en.bitcoin.it/wiki/Protocol_rules" target="_blank">Protocol rules</a> - for developing low level applications</li>
</ul>
<p>Bitcoin development is <strong>hard</strong>, so learn from those who have already broken ground. Here are projects that are freely available for you to use or build upon to
  get your own project up and running much faster. Remember Java libraries are compatible with Ruby, Python, Clojure, Scala when running on a JVM.</p>
<ul>
  <li><a href="https://github.com/bitcoin/bitcoin" target="_blank">Bitcoin Core</a> - the reference client project on GitHub. Written in C++.</li>
  <li><a href="https://code.google.com/p/bitcoinj/" target="_blank">Bitcoinj</a> - a Bitcoin library. Written in Java.</li>
  <li><a href="https://github.com/bitcoin-solutions/multibit-hd" target="_blank">MultiBit HD</a> - a Bitcoin wallet. Written in Java based on Bitcoinj.</li>
  <li><a href="https://github.com/spesmilo/electrum" target="_blank">Electrum</a> - a Bitcoin wallet. Written in Python.</li>
  <li><a href="https://github.com/timmolter/XChange" target="_blank">XChange</a> - a Bitcoin exchange library (very handy). Written in Java </li>
  <li><a href="https://github.com/bitcoin-solutions/mbhd-hardware" target="_blank">MultiBit Hardware</a> - USB support for hardware wallets. Written in Java.</li>
</ul>

<h4 id="question">Got a question? Ask it at the <a href="http://bitcoin.stackexchange.com/" target="_blank">Bitcoin Stack Exchange</a></h4>
<p>This is an active question and answer site that provides you with free access to expert answers to your questions about Bitcoin. It is well worth doing a quick search here to get a comprehensive answer.</p>
<p>Many search engines support queries that restrict their results to a particular site. For example:</p>
<pre>site:bitcoin.stackexchange.com what is bitcoin?</pre>

<h3 id="news">Bitcoin News and Gossip</h3>
<p>Everyone wants to get the low-down on their favourite cryptocurrency, so here are a few news links:</p>
<ul>
  <li><a href="http://coindesk.com/" target="_blank">CoinDesk</a></li>
  <li><a href="http://bitcoinmagazine.com/" target="_blank">Bitcoin Magazine</a></li>
  <li><a href="https://bitcointalk.org/index.php?board=77.0" target="_blank">Bitcoin Forum / Press</a></li>
</ul>

<h4 id="reddit">Bitcoin on Reddit</h4>
<p><a href="http://reddit.com/r/bitcoin" target="_blank">/r/bitcoin</a> (the Bitcoin sub-Reddit) is a very popular outlet for news.
  Typically there will be 20-30 articles a day relating to the Bitcoin ecosystem and there is no registration required.</p>
<p>This is the home of the <a href="http://www.reddit.com/r/changetip" target="_blank">ChangeTip Bot</a> which enables Redditors to send each other
  bitcoins using a simple syntax like:</p>
<pre>10 mBTC /u/changetip</pre>
<p>The above command will send 10mBTC to whoever you are replying to, even if they don't know about Bitcoin.</p>
<p>There are similar services available for Twitter, Facebook and many other social networking sites.</p>
<p>This illustrates the extraordinary flexibility of Bitcoin and how it dovetails neatly with the rest of the Internet's infrastructure.</p>

<h4 id="twitter"><a href="http://twitter.com/#!/search/bitcoin" target="_blank">Twitter Search</a></h4>
<p>Possibly the fastest way to hear about new developments in the Bitcoin world. Simply run the search and trawl the resulting stream. Use "#bitcoin".</p>

<h4 id="facebook"><a href="https://www.facebook.com/pages/Bitcoin-P2P-Cryptocurrency/134466763256650" target="_blank">Facebook Page</a></h4>
<p>The Bitcoin Facebook page is another source of information about what is going on in "Bitcoinland". Since no-one owns Bitcoin various users post interesting articles to the page.</p>

<h4 id="bitcoin-talk"><a href="https://bitcointalk.org/" target="_blank">BitcoinTalk Forum</a></h4>
<p>This is the original forum dedicated to discussions about Bitcoin. There is a huge turnover of information and many big names in the Bitcoin community make their voices and opinions heard. They have a substantial section to assist beginners and most breaking news about Bitcoin can be found there first.</p>
<p>There is a dedicated <a href="https://bitcointalk.org/index.php?board=99.0" target="_blank">MultiBit forum.</a>

<h4 id="irc">Bitcoin on IRC</h4>
<p>Internet Relay Chat (IRC) is one of the earliest online chat protocols and it is still going strong with a very large user base.</p>
<p>Bitcoin has several dedicated channels that are very popular and you can join them using the <a href="http://webchat.freenode.net/?channels=bitcoin" target="_blank">FreeNode</a> website. Just give yourself a user name and you're away. Here are some channels to get your started:</p>
  <ul>
    <li><strong>#bitcoin</strong> (General Bitcoin-related)</li>
    <li><strong>#bitcoin-dev</strong> (Development and technical)</li>
    <li><strong>#bitcoin-otc</strong>  (Over The Counter exchange)</li>
    <li><strong>#bitcoin-market</strong> (Live quotes from markets)</li>
    <li><strong>#bitcoin-mining</strong> (Bitcoin mining related)</li>
  </ul>
