<h1>Bitcoin communities</h1>
<p>Of course there are many other people interested in Bitcoin, and many people have asked us where they can go in order to learn more about Bitcoin. We present a short list below.</p>

<h2>Getting started</h2>
<p>The following sites should be read by anyone wanting to get into Bitcoin:</p>
<ul>
  <li><a href="http://www.weusecoins.com" target="_blank">We Use Coins</a> - start here!</a></li>
  <li><a href="http://lovebitcoins.com" target="_blank">Love Bitcoins</a> - another gentle introduction</a></li>
  <li><a href="https://bitcoin.it/wiki/FAQ" target="_blank">The Official FAQ</a></li>
  <li><a href="https://bitcoin.it/wiki/Myths" target="_blank">Debunking Myths</a> - go here if you're skeptical</li>
  <li><a href="http://howdoyoubuybitcoins.com/" target="_blank">How do you buy bitcoins?</a></li>
</ul>
<h2>Getting started for merchants</h2>
<p>Merchants can benefit from reading these pages:</p>
<ul>  
  <li><a href="https://bitcoin.it/wiki/Trade" target="_blank">Sites That Accept Bitcoin</a> - see what everyone else is up to</li>
  <li><a href="https://en.bitcoin.it/wiki/Merchant_Howto" target="_blank">Merchant How-to</a> - start your own Bitcoin business</li>
</ul>

<h2>Getting started for investors and traders</h2>
<p>Investors, traders and speculators may find the following links useful:</p>
<ul>
  <li><a href="http://bitcoincharts.com/" target="_blank">Bitcoin Charts</a> - Markets</li>
  <li><a href="https://blockchain.info/charts" target="_blank">Blockchain.info</a> - Stats and graphics</li>
  <li><a href="https://mtgox.com" target="_blank">Mt Gox</a> - The biggest Bitcoin exchange (Japan)</li>
  <li><a href="https://coinbase.com" target="_blank">Coinbase</a> - A large Bitcoin exchange (USA)</li>
  <li><a href="https://www.bitstamp.net" target="_blank">Bitstamp</a> - A large Bitcoin exchange (Slovenia)</li>
</ul>

<h2>Getting started for developers</h2>
<p>If you want to start developing code for a Bitcoin business, or want to join in with a popular open source initiative then you would do well to look into these projects:</p>
<ul>
  <li><a href="http://bitcoin.org/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a> - the original Satoshi paper (a must read for developers)</li>
  <li><a href="https://en.bitcoin.it/wiki/Protocol_rules" target="_blank">Protocol rules</a> - for developing low level applications</li>
  <li><a href="https://code.google.com/p/bitcoinj/" target="_blank">BitcoinJ</a> - a Bitcoin Java library</li>
  <li><a href="https://github.com/bitcoin/bitcoin" target="_blank">Bitcoin</a> - the reference client project on GitHub written in C++</li>
  <li><a href="https://github.com/jim618/multibit" target="_blank">MultiBit</a> - a Bitcoin wallet written in Java (uses BitcoinJ)</li>
  <li><a href="https://github.com/spesmilo/electrum" target="_blank">Electrum</a> - a Bitcoin wallet written in Python</li>
  <li><a href="https://github.com/timmolter/XChange" target="_blank">XChange</a> - a financial exchange library written in Java </li>
  <li><a href="https://github.com/gary-rowe/MultiBitMerchant" target="_blank">MultiBit Merchant</a> - A free and open source Bitcoin ecommerce platform written in Java</li>
</ul>

<h2>Bitcoin News and Gossip</h2>
<p>Everyone wants to get the low-down on their favourite cryptocurrency, so here are a few news links:</p>
<ul>
  <li><a href="http://bitcoinmagazine.com/" target="_blank">Bitcoin Magazine</a></li>
  <li><a href="http://www.bitcoinnews.com/" target="_blank">Bitcoin News</a></li>
  <li><a href="https://bitcointalk.org/index.php?board=77.0" target="_blank">Bitcoin Forum / Press</a></li>
</ul>

<h2><a href="http://bitcoin.stackexchange.com/" target="_blank">Bitcoin Stack Exchange</a></h2>
<p>This is an active question and answer site that provides you with access to expert answers to your questions about Bitcoin. Many questions have been asked before so it is well worth doing a quick search before posting your own.</p>
<p>Many search engines support queries that restrict their results to a particular site. For example:</p>
<pre>site:bitcoin.stackexchange.com what is bitcoin?</pre>

<h2><a href="https://bitcointalk.org/" target="_blank">BitcoinTalk Forum</a></h2>
<p>This is the original, and perhaps largest, forum dedicated to discussions about Bitcoin. There is a huge turnover of information and many big names in the Bitcoin community make their voices and opinions heard. They have a substantial section to assist beginners and most breaking news about Bitcoin can be found there first.</p>

<h2><a href="http://reddit.com/r/bitcoin" target="_blank">Bitcoin sub-Reddit</a></h2>
<p>The Bitcoin sub-Reddit is a very popular outlet for news. Typically there will be 20-30 articles a day relating to the Bitcoin ecosystem. This is the home of the <a href="http://www.reddit.com/r/bitcointip" target="_blank">Bitcoin Tipping Bot</a> which enables Redditors to send each other bitcoins using a simple syntax like</p>
<pre>+bitcointip 0.1 BTC</pre>
<p>This illustrates the extraordinary flexibility of Bitcoin and how it dovetails neatly with the rest of the Internet's infrastructure.</p>

<h2>Bitcoin on IRC</h2>
<p>Internet Relay Chart (IRC) is one of the earliest online chat protocols and it is still going strong with a very large user base. Bitcoin has several dedicated channels that are very popular and you can join them using the <a href="http://webchat.freenode.net/?channels=bitcoin" target="_blank">FreeNode</a> website. Just select a user name and you're away. Here are some channels to get your started:</p>
  <ul>
    <li><strong>#bitcoin</strong> (General Bitcoin-related)</li>
    <li><strong>#bitcoin-dev</strong> (Development and technical)</li>
    <li><strong>#bitcoin-otc</strong>  (Over The Counter exchange)</li>
    <li><strong>#bitcoin-market</strong> (Live quotes from markets)</li>
    <li><strong>#bitcoin-mining</strong> (Bitcoin mining related)</li>
  </ul>

<h2><a href="http://twitter.com/#!/search/bitcoin" target="_blank">Twitter Search</a></h2>
<p>Possibly the fastest way to hear about new developments in the Bitcoin world. Simply run the search and trawl the resulting stream.</p>

<h2><a href="https://www.facebook.com/pages/Bitcoin-P2P-Cryptocurrency/134466763256650" target="_blank">Facebook Page</a></h2>
<p>The Bitcoin Facebook page is another source of information about what is going on in "Bitcoinland". Since no-one owns Bitcoin various users post interesting articles to the page.</p>
