<h3>Hi! I'm new to this Bitcoin thing. I'm not technical and I have a lot of questions...</h3>

<p>Ask away. Bear in mind that there is a lot to learn, and I cannot give you financial advice.</p>

<h3>What is Bitcoin ?</h3>

<p>Put very simply it is a new form of money that works extremely well on the Internet.</p>

<h3>So it's a "virtual currency" ?</h3>

<p>No. Virtual currencies are generally tokens issued by a company for near-exclusive use on their site. Examples include loyalty or gift cards, air miles or mobile phone top-ups.</p>

<p>Bitcoin is a general purpose digital currency. It is programmable money.</p>

<p>Nothing like Bitcoin has ever existed before.</p>

<p>In a similar way that email revolutionised the postal service, Bitcoin can revolutionise financial services.</p>

<h3>I've heard of early adopters making huge fortunes - is that true ?</h3>

<p>Yes. People who acquired large numbers of bitcoins in the past have been able to make significant profits as a result of recent price increases.</p>

<h3>That seems unfair...</h3>

<p>A general principle of investment is that the higher the risk the greater the reward. Very early adopters took several risks:</p>

<ol>
  <li>They spent their time researching a new concept called Bitcoin which could have been without value</li>
  <li>They expended computer processing time to work on Bitcoin before it was popular</li>
  <li>They witnessed an increase in the value of individual bitcoins and did not cash out - each value increase was more life-changing than the last</li>
</ol>

<p>In many cases early adopters of Bitcoin are the same people who continue to drive it forward today.</p>

<h3>So all the real profits have been made then ?</h3>

<p>Bitcoin only started on 3 January 2009 - it is still very early days in its growth.</p>

<p>It represents a completely different form of money. There is a lot of potential for new forms of businesses to emerge which will affect the way we conduct business in the 21st century.</p>

<p>There is nothing to stop you creating one of those new businesses.</p>

<h3>Is it easy to use ?</h3>

<p>Yes. It is much easier than other online payment systems. In many cases you simply click a link and confirm that the transaction is correct. On smartphones people tend to use QR codes because it's easier.</p>

<h3>What's a QR code ?</h3>

<p>It's like a barcode but made up of black and white squares. It stores information in a way that is easy for smartphones to read. There's an example on the right in the sidebar.</p>

<h3>You said it works well on the Internet - can you give me an example ?</h3>

<p>A great example is the Reddit Bitcoin Tipping Bot. After you've deposited some bitcoins into your tipping wallet you can then transfer those bitcoins to anyone (even if they've
  never heard of Bitcoin) just by entering a comment like this:</p>

<pre>+/u/bitcointip $0.5</pre>

<p>That command, which is specific to Reddit, will tip $0.5 (in bitcoins) to whoever you are replying to.</p>

<h3>So can I send 50 cents to anyone anywhere in the world ?</h3>

<p>Yes. Bitcoin works extremely well on the Internet.</p>

<h3>What if I wanted to send $10 million ?</h3>

<p>That's fine. The Bitcoin money supply can easily handle a sum of that magnitude.</p>

<h3>How much would a transaction like that cost me ?</h3>

<p>Bitcoin fees depend on the size of the data to be stored not the magnitude of the transaction involved. If the above was a simple transaction it should cost about $0.10.</p>

<h3>10 cents to send $10 million anywhere in the world! Are you kidding me ?</h3>

<p>No kidding - Bitcoin is extremely efficient.</p>

<h3>Surely that would make it easy to send money abroad ?</h3>

<p>Yes. Currently many services offering international remittances charge the person sending money home to their family significant amounts. Bitcoin greatly reduces this.</p>

<p>With Bitcoin an international remittance is as easy as sending an email.</p>

<h3>I notice you're using "Bitcoin" and "bitcoin" - what's the difference ?</h3>

<p>The Bitcoin network has a capital "B", while the tokens that represent value are called bitcoins with a small "b".</p>

<h3>Does it have its own currency code like USD or EUR ?</h3>

<p>The three-letter code is currently BTC but many believe that it will finally become XBT in the future. The Bitcoin community is currently working with the International Standards Committee to ratify XBT under ISO 4217.</p>

<h3>So the Bitcoin community owns it ?</h3>

<p>In a sense. It is not owned or controlled by any organisation. There is no government or corporation backing it. It is not patented or copyrighted.</p>
<p>Regardless, it now being used by millions of people all over the world to conduct transactions. These people are the Bitcoin community. By reading this you are part of that community.</p>

<h3>If no-one owns it, how can I trust it ?</h3>

<p>Think about when you log in to a website. Your user name and password are protected using cryptography - a very advanced branch of mathematics that protects secrets.</p>

<p>Bitcoin uses cryptography to prove to others that you, and only you, have the right to spend the funds under your control.</p>

<p>All of the cryptography in Bitcoin is well-known and used in countless other applications including banking systems. There is nothing new or special.</p>

<p>In short, if you trust mathematics, you can trust Bitcoin.</p>

<h3>So can I send money to anyone on the Internet - not just via special websites ?</h3>

<p>Yes. You don't even have to know who they are. Also they don't have to be connected to the Internet to receive bitcoins.</p>

<p>Obviously, you can receive bitcoins from anyone as well - perhaps as part of a crowdfunded project or a loyal fanbase.</p>

<h3>Does that mean I need a Bitcoin email address or something ?</h3>

<p>Almost. When you want to receive money you would typically provide a Bitcoin address. It is a long string of letters and numbers that starts with either a 1 or a 3. Here's an example:</p>

<pre>1AhN6rPdrMuKBGFDKR1k9A8SCLYaNgXhty</pre>

<h3>I'm not typing all that in !</h3>

<p>You don't have to. That's the job of your Bitcoin wallet software. It looks after all your Bitcoin addresses in the same way that your email software keeps track of all your contact's email addresses.</p>

<h3>So I have more than one Bitcoin address ?</h3>

<p>Yes. The most private way to use Bitcoin is to never re-use an address. Your Bitcoin wallet will take care of this for you.</p>

<p>Also, if you did find yourself actually typing one and made a mistake the wallet software will tell you that it is not valid.</p>

<h3>And where do I get this wallet software ?</h3>

<p>Bitcoin is available for everyone. You can find Bitcoin wallets for Windows, Mac, Linux, Android, iPhone and pretty much everything else.</p>

<p>Many Bitcoin wallets are "open source" which means that developers can look at how they work and verify that there is nothing suspicious going on.</p>

<h3>You talk about privacy but I'll still have to sign up to use it</h3>

<p>Some wallet providers will ask you to sign up, others don't.</p>

<p>It is not a requirement of Bitcoin that you reveal your identity. In fact one of the prime goals of Bitcoin is to avoid revealing your identity to anyone, but still allow you to conduct a transaction. It is very like cash in that sense.</p>

<h3>So it's completely anonymous ?</h3>

<p>No. It is possible for someone with significant dedicated resources (governments, police agencies etc) to track your transactions by examining the public blockchain.</p>

<p>Overall, its anonymity is much closer to cash than to a credit card.</p>

<h3>What's the "blockchain" ?</h3>

<p>It is the large database that contains all the transactions ever made using Bitcoin. New transactions are gathered up into a group called a block. Each new block references the one before forming a chain.</p>

<p>At present the blockchain is about 12Gb and growing every 10 minutes.</p>

<h3>I'm not downloading that !</h3>

<p>You don't have to. As a normal user of Bitcoin you are only interested in the parts of the blockchain that contain your transactions. That small portion is about 25Mb.</p>

<h3>So what type of user would want to download the full blockchain ?</h3>

<p>Normally people running websites that accept Bitcoin - merchants - would make sure they maintain a complete copy of the blockchain to avoid doublespends.</p>

<h3>Can you explain "doublespends" ?</h3>

<p>That is where you get to spend the same money twice with different people. It was a common problem with digital money before Bitcoin solved it.</p>

<h3>The "blockchain" prevents "doublespends". You'd better explain...</h3>

<p>In the past there have been many attempts at making digital money. They have all failed because they all required trust in someone. Usually this was a company or government that checked all the transactions going through their system to ensure that no-one was doublespending.</p>

<p>The fundamental problem was trusting the central checker. What if it was cracked and all the transactions rewritten? What if the central checker itself wanted to fake a crack in order to cover something up?</p>

<h3>So if a single centralised checker is bad then what about having lots of independent checkers?</h3>

<p>That's what Bitcoin does. Everyone who downloads the full blockchain is contributing to the overall security of the blockchain. Everyone is continuously checking everyone else. Nobody trusts anyone, but everyone trusts the mathematics.</p>

<h3>So Bitcoin is sort of like BitTorrent then ?</h3>

<p>Yes. It uses a very similar approach to sharing the big database file that is the blockchain. Anyone running the Bitcoin software is known as a node or peer.</p>

<h3>Got it. Wait... if nobody trusts anyone who chooses the blocks ?</h3>

<p>Anyone can offer up a block for acceptance by the Bitcoin network. To create blocks you simply run some software called a Bitcoin miner. If your block is accepted you get a reward.</p>

<h3>Could you briefly explain the rules for getting a block accepted ?</h3>

<p>Sure. To get a block accepted you have to prove that you have checked all the transactions in it are valid and that you have expended a certain amount of effort in securing it.</p>

<h3>How is a block secured ?</h3>

<p>Bitcoin uses cryptography to create a number that is unique to the block. It is impossible to know in advance what the number will be since even the slightest change in the block will produce a completely different number.</p>

<p>The task facing a Bitcoin miner is to fiddle with some settings for the block, without altering the integrity of the transactions, until that number is below a given target.</p>

<p>The lower the target, the greater the difficulty.</p>

<p>For the technically minded, a Bitcoin miner has to find a SHA256 hash that is under the target value.</p>

<h3>I'm not technical - why do we have this target ?</h3>

<p>Remember that there are millions of computers out there running Bitcoin mining software. They are all in competition with each other trying to get their blocks accepted so that they can claim their reward.</p>

<p>If there was no target then there would be millions of blocks all being offered up and it would be very easy to include doublespends.</p>

<h3>So "miners" secure blocks which in turn secure transactions ?</h3>

<p>Yes.</p>

<h3>You mentioned a reward ?</h3>

<p>Yes. Once a miner has secured a block, they send it to other nodes in the Bitcoin network for verification. It is trivial to verify that the target has been achieved and that all the transactions have not been tampered with.</p>

<p>This proves that the original miner put some effort into securing the block and qualifies for their reward. This reward is called the "coinbase" and it is the only way
  that new bitcoins can be minted.</p>

<p>The other miners then continue gathering transactions and grouping them into a new block which they will later link to this one.</p>

<h3>So it's called "mining" because you're digging up bitcoins ?</h3>

<p>That's the analogy. You could extend it a little to say that Bitcoin is a digital element that is rarer than gold.</p>

<h3>Rarer than gold ?</h3>

<p>Yes. There will only ever be 21 million bitcoins produced and they only exist here on Earth. It will take until about the year 2140 to get them all.</p>

<p>Gold is present all over the Universe. All it takes to find more is to go up into space and get it.</p>

<h3>Seriously ? The last bitcoin will be mined in 2140 - that's the 22nd century!</h3>

<p>Yes - it's not exact but near enough. Bitcoin restricts the number of blocks that can be mined to about 1 every 10 minutes using the difficulty.
  This results in a controlled release of new bitcoins via the coinbase.</p>

<p>Once all the bitcoins have been mined then the coinbase will only contain transaction fees.</p>

<h3>How many have been mined so far ?</h3>

<p>Over 12 million.</p>

<h3>Wait... that doesn't add up</h3>

<p>Bitcoins are released in steadily decreasing numbers. Every 210,000 blocks the number of new bitcoins released by mining a block is halved.</p>

<p>From January 2009 to November 2012 it was 50 bitcoins per block, now it is 25. Around September 2016 it will be 12.5 and so on.</p>

<h3>But 21 million isn't enough for any decent sized economy...</h3>

<p>Quite so. Fortunately bitcoins are infinitely divisible since they are merely numbers. At present the Bitcoin network keeps track of them to 8 decimal places.</p>

<p>Thus the total number of units in the Bitcoin system is 2.1 quadrillion (2,100 trillion) which is enough for the global cash economy.</p>

<p>Of course, even a fraction of a single bitcoin is sufficient since it is infinitely divisible.</p>

<h3>OK, we got sidetracked. What if two or more blocks are secured at the same time. Who wins ?</h3>

<p>Since everyone is in competition with everyone else there could be multiple competing blocks being built. The rule is that the Bitcoin network will always accept the longest chain with the highest difficulty level as the final answer.</p>

<h3>What happens to the transactions on the losing chain ?</h3>

<p>Blocks that are no longer on the longest chain are called orphaned blocks. The transactions that are contained within them are no longer considered to be valid and are dropped from the Bitcoin network.</p>

<h3>Wait, what - the transaction is lost ?</h3>

<p>Yes, in the worst case scenario. However, it is much more likely that the transaction has been copied into a block on the longer chain.</p>

<h3>So if transactions might be lost in the race how can I be sure that I've got my money ?</h3>

<p>While there is a lot of activity at the head of the blockchain it very rapidly decreases the older a block gets. By the time a block is 6 layers deep into the blockchain it can be considered to be irreversible.</p>

<p>We call each layer a "confirmation" since a miner has verified the block and then built upon it.</p>

<h3>How long does it take to get these confirmations ?</h3>

<p>Typically each confirmation takes about 10 minutes. Therefore in about an hour any transaction is irreversible.</p>

<h3>You've said "irreversible" twice now - surely if I make a mistake I can phone someone ?</h3>

<p>No. Bitcoin is very like cash. Once you've spent it that's it.</p>

<p>There is nobody with whom you can file a complaint to get your money back. If it were possible to undo a transaction it would undermine the security of the entire Bitcoin network.</p>

<h3>Hmm. No chargebacks has got to be good for merchants...</h3>

<p>Yes. With Bitcoin a merchant gets paid within an hour for their goods and services. If the merchant is willing to reduce the number of confirmations (such as with low value items) then they can get their money quicker.</p>

<p>Credit cards often keep the possibility of chargebacks open for 180 days leading to uncertainty with cashflow so Bitcoin definitely helps merchants accepting digital payments.</p>

<h3>Way back you mentioned a fee. Does the merchant pay this ?</h3>

<p>No. Bitcoin is free to receive, and incurs a small transaction fee to send. This is sometimes called the "miner's fee" and it is used to pay for the securing and eternal storage of your transaction across
  millions of computers on the Internet.</p>

<h3>How does the miner get the transaction fees ?</h3>

<p>The fees are added to the coinbase which is paid to an address owned by the miner. They are not redeemable for 120 blocks.</p>

<p>Every so often when the price of a bitcoin has stabilised for a reasonable duration (many months) the fee is adjusted by collective agreement. Currently it is 0.1mXBT which is less than 0.10 USD.</p>

<h3>I'm really not technical - what is 0.1mXBT ?</h3>

<p>Bitcoin uses the metric system to denote amounts. 1mXBT is a thousandth of a bitcoin and is called a milli (like millimeter). 1&micro;XBT is a millionth of a bitcoin and is called a mike (like micrometer).</p>

<p>The smallest unit (remember the 8 decimal places) is called a Satoshi after the inventor of Bitcoin: Satoshi Nakamoto.</p>

<h3>I've got to ask - who is Satoshi Nakamoto ?</h3>

<p>No-one knows. The name Satoshi Nakamoto is definitely a pseudonym and may represent a single person or, more likely, a group of people.</p>

<p>Back in 2008 Satoshi provided a whitepaper describing Bitcoin to a popular cryptography forum. A short while later the first draft of the Bitcoin software was made available to the open source community for examination.</p>

<p>Satoshi stayed with the Bitcoin project contributing code, answering questions and clarifying intentions. Then in mid-2010 Satoshi announced their intention to leave and departed. Satoshi has not been heard from since.</p>

<h3>Why the anonymity ?</h3>

<p>As a guess it could be that as an anonymous figurehead Satoshi can do no wrong. Or perhaps Satoshi felt that the project was sufficiently developed to hand it over to others to take forward.</p>

<h3>Fair enough. Since Bitcoin is irreversible what can I do if a merchant goes bad ?</h3>

<p>Most well established businesses are looking for repeat business so are not trying to defraud you. That said, "buyer beware" is the key phrase when dealing with any online merchant.</p>

<p>Virtually all countries with access to the Internet have laws that protect consumers from unfair business practices. Often representation under those laws is free through some kind of Trading Standards department.</p>

<h3>Yeah, like I'm going to bother with that...</h3>

<p>Well then, that brings me to something very interesting about Bitcoin.</p>

<p>Recall at the start I mentioned that Bitcoin is "programmable money". This means that Bitcoin transactions can be created that go beyond the usual "pay this much to that address".</p>

<p>Before I can explain you'll need to know more about transactions.</p>

<h3>I think this is about to get really hard...</h3>

<p>Let's take it step by step.</p>

<p>Clearly a transaction is simply someone sending money somewhere. The transaction says "pay this much bitcoin to this address authorised by me".</p>

<h3>Wait, how do I know that you have any bitcoin at all ?</h3>

<p>From previous transactions that have been paid to me in earlier confirmed blocks.</p>

<h3>So each transaction has a parent and so on ?</h3>

<p>Yes. The sum of all bitcoins paid into Bitcoin addresses that you own is your total balance.</p>

<h3>OK, makes sense. How do I prove that I own those addresses and not anyone else ?</h3>

<p>For that you need to know a little more cryptography - specifically something called public and private keys.</p>

<h3>You've completely lost me.</h3>

<p>Here's a quick overview of the principle.</p>

<ol>
  <li>You want me to send you a diamond through the post.</li>
  <li>You send me an empty metal box containing an unlocked padlock.</li>
  <li>I put the diamond in the box. I also put my own unlocked padlock in there. Then I lock the box with your padlock.</li>
  <li>Now nobody can open that box except you so I send it through the post.</li>
  <li>It arrives and you use your private key to open your lock.</li>
  <li>You examine the diamond, and you want to send me payment (in cash) so you put the pile of notes in the box and lock it with my lock.</li>
  <li>Now nobody can open that box except me, so you send it through the post.</li>
  <li>It arrives and I use my private key to open my lock.</li>
</ol>

<p>In the world of cryptography, the padlock is called the "public key" because it is out in the open (public) and only a single private key will unlock anything protected by it.</p>

<p>Also, in cryptography a "key" is just a very large number. So we have a "public very large number", and a "private very large number".</p>

<h3>So is there some sort of link between the public and private keys ?</h3>

<p>Yes. With the private key you can work out the public key, but you can't go backwards.</p>

<p>Keep your private keys secret, keep them safe.</p>

<h3>Thanks, Gandalf. Now you're going to tell me that the Bitcoin address is a public key ?</h3>

<p>Almost. Since the public key is a very large number it is compressed (like zipping up a file) to reduce the space on the blockchain. The compression process also hides the public key which comes in handy later.</p>

<p>That compressed version is the Bitcoin address.</p>

<h3>And how does this help with authorising transactions ?</h3>

<p>This is the final piece of the Bitcoin puzzle. The private key is used to sign transactions.</p>

<h3>Like signing a credit card payment slip ?</h3>

<p>Yes, except it cannot be forged.</p>

<h3>OK, what is being signed then ?</h3>

<p>A Bitcoin transaction is made up of inputs coming from earlier transactions that gave you bitcoins. Those earlier transactions have outputs that point to your addresses.</p>

<h3>So I'm signing something to prove I own the addresses ?</h3>

<p>Exactly. When you create a new transaction you gather up the unspent outputs from various parent transactions to make up the money you need.</p>

<h3>Gathering up unspent outputs ?</h3>

<p>Yes. Imagine you have received 1.5 bitcoins (1.5&nbsp;XBT) each from 10 different sources giving a total of 15&nbsp;XBT spread over 10 outputs.</p>

<p>You need to pay a bill of 4&nbsp;XBT so you gather up 3 outputs totalling 4.5&nbsp;XBT. You create 2 outputs: the first for 4&nbsp;XBT to cover the bill; the second for 0.5&nbsp;XBT which you send to an address that you own as "change".</p>

<p>If you want to pay a transaction fee this is represented by reducing the change to, say, 0.4999&nbsp;XBT. Now the total of all the outputs is less than all the inputs by 0.1&nbsp;mXBT. That imbalance is the transaction fee which can only be claimed by a successful miner.</p>

<p>It is the job of your Bitcoin wallet software to handle all this.</p>

<h3>OK, I understand the inputs and outputs, but where does the signing come in ?</h3>

<p>You need to produce the public key associated with each address for the outputs. You'll remember that it was hidden behind some compression so only you have it to hand the first time it gets used.</p>

<p>With that public key out in the open anyone can now verify that it correctly compresses to the named address. So far so good - you've proved that you own the address, but now that public key is public knowledge. What if you've used that address before?</p>

<p>Enter the private key. You sign the overall transaction with the private keys for each of the involved addresses.</p>

<h3>I'm getting lost - how does signing with a private key help someone who only has the public key ?</h3>

<p>In cryptography, public and private keys are linked. If someone knows the public key they can verify a signature made by a private key is correct. This gives conclusive proof that you own the address and that you made this new transaction to spend of the contents.</p>

<h3>You started this signing thing to answer the simple question of a merchant going bad. I don't see an answer to that.</h3>

<p>Now that you understand inputs and how they can be signed to authorise payments to outputs, it is easy to imagine if that process was made a little more complex.</p>

<p>For example, imagine if a little script could be added that effectively said "I authorise payment to this address, but only if it is also authorised by the owner of this address".</p>

<h3>Wait a minute - you've just added escrow haven't you ?</h3>

<p>Exactly. The usual scenario is that Alice and Bob want to make a trade, but they don't trust each other. However, they both trust Trent who has no interest in either Alice or Bob's affairs.</p>

<p>Alice and Bob strike a deal where Trent holds bitcoins, but cannot spend them to anywhere else other than either Alice or Bob so he can't run off with the money.</p>

<p>If the trade is successful, Trent pays Bob. If it fails Trent pays Alice.</p>

<p>The real situation is more complex than that, but you can see where this could lead. In Bitcoin it is possible to create scripts of almost arbitrary complexity which are known as contracts.</p>

<h3>My head is spinning - how much of this do I need to know to use Bitcoin ?</h3>

<p>Actually very little, but often people want to really understand what they are using. It helps to know what is going on under the covers at a basic level.</p>

<h3>That was basic! Are you kidding me ?</h3>

<p>This is the amazing thing about Bitcoin. You barely need to know anything to use it, but the more questions you ask the more you learn.</p>

<p>We haven't even started on the economic theory behind it yet.</p>

<h3>I'm going for a coffee...</h3>

<hr/>

<h3>OK, I'm back - so what's with the 21 million bitcoin limit ?</h3>

<p>Bitcoin has been designed as a deflationary currency, so it has a strictly limited money supply.</p>

<h3>I'm not much of an economist - what's a "deflationary currency" ?</h3>

<p>Broadly speaking, a deflationary currency is one that increases in value over time. Goods and services priced in a deflationary currency will therefore tend to reduce in price - all other things being equal.</p>

<h3>Wait, what - you're telling me that stuff will get cheaper if I use Bitcoin ?</h3>

<p>The price will be less because the purchasing power of Bitcoin is expected to increase over time because the money supply is limited.</p>

<p>Put simply, if the Bitcoin economy grows more quickly than the number of bitcoins produced then the price of a bitcoin goes up. There are complexities to do with
  the velocity of money (a bitcoins can be re-used within an hour typically) but that's the gist of it.</p>

<h3>So I'm better off hoarding my bitcoins ?</h3>

<p>That's entirely your choice. Nobody is making you spend any.</p>

<p>In fact by withholding your bitcoins from circulation you make bitcoins more scarce. If there is high demand then the overall value of bitcoins should increase accordingly.</p>

<p>Of course you may find something that you want so badly that you're prepared to part with your bitcoins for it.</p>

<h3>So could I maintain a savings account just by holding bitcoins ?</h3>

<p>I cannot give financial advice, but a general observation is that since the purchasing power of bitcoins is intended to increase over time then it could act as a simple savings scheme.</p>

<p>That said, Bitcoin comes with no guarantees of its future value. It could all crash to zero tomorrow.</p>

<h3>Seriously - it could crash to zero tomorrow ?</h3>

<p>There is that possibility. Nothing like Bitcoin has ever existed before - it is a huge economic experiment.</p>

<p>As time goes on more and more people are becoming aware of the utility of Bitcoin and as a result they attribute value to the bitcoins.</p>

<h3>So it has no "intrinsic value"- nothing backs it ?</h3>

<p>A bitcoin has no physical presence - it is just a number in a transaction in the blockchain. A number by itself has no intrinsic value.</p>

<p>However, a bitcoin does not exist in isolation. It is part of the largest distributed financial database in history. That database facilitates near instantaneous transfer
  of wealth to anyone anywhere on the planet. That makes it useful, and something that is useful has, by definition, value.</p>

<p>Essentially a bitcoin represents a share in the overall value attributed to the entire Bitcoin network.</p>

<h3>Are you telling me that owning a bitcoin gives me a share in a global economy ?</h3>

<p>Yes. Or even a part of one. If you only have a single Satoshi (the smallest unit in Bitcoin) you will see the value of your investment change in accordance with
  the overall network.</p>

<p>That value will go up and it will go down.</p>

<p>It is interesting to note that many financial instruments provide different levels of interest depending on the amount invested. Bitcoin is different, all amounts are treated the same.</p>

<h3>The price changes all the time - that makes me nervous...</h3>

<p>Quite rightly. By holding Bitcoin you are taking a huge risk that it won't crash to zero leaving you with nothing.</p>

<p>However, many people believe that Bitcoin has tremendous potential and so they are willing to take that risk. There are no guarantees.</p>

<h3>If the price is changing all the time how does a merchant handle that risk ?</h3>

<p>Often they will accept payment in Bitcoin and then immediately cash out to their local currency. There are companies that perform this service for a small fee which is lower than a typical credit card processing fee.</p>

<p>Some merchants choose to cash out almost all their bitcoins, but leave a few behind to have a small exposure to bitcoin risk.</p>

<h3>Doesn't that hurt Bitcoin though ?</h3>

<p>Not really. The bitcoins are usually sold via an online Bitcoin exchange and then used again by someone who wishes to hold bitcoins.</p>

<p>The fact that someone is able to exchange bitcoins for goods and services increases their utility and therefore the value of the overall Bitcoin network. It is a virtuous circle.</p>

<h3>You mentioned Bitcoin exchanges - is that how I buy bitcoins ?</h3>

<p>There are many ways to obtain bitcoins, just as there are many ways to obtain any foreign currency. However it is quite common to use an online Bitcoin exchange.</p>

<h3>Can you briefly walk me through the process ?</h3>

<p>Only in broad terms because every exchange is different. Overall it goes like this:</p>

<ol>
  <li>Locate a reputable exchange that deals with your local currency (such as Bitstamp, Coinbase, BTC-e)</li>
  <li>Go through their registration process. This will normally require you sending official documentation to avoid money laundering activities.</li>
  <li>Instruct your bank to wire funds in your local currency to the exchange. They will provide you with all the necessary account information.</li>
  <li>Once the funds have cleared the traditional banking system you can use your funds to purchase bitcoins.</li>
  <li>You place an order to buy a number of bitcoins at a particular rate. Usually the exchange will pick values that result in an almost instant purchase.</li>
</ol>

<p>At this point you own bitcoins, but they are under the control of the exchange. You should move them into your own Bitcoin wallet as soon as possible.</p>

<p>Bear in mind that most banks charge a fee for a wire transfer, and the exchange also charges a fee for each trade. It is generally better to use an exchange for larger transactions.</p>

<h3>That's a huge hassle - what about PayPal or a credit card ?</h3>

<p>Unlikely. Both those payment methods are reversible through chargebacks. Any merchant selling you bitcoins through those channels is taking a huge risk that you won't issue a chargeback within 180 days.</p>

<p>Most merchants would be unwilling to take that risk with anyone other than a trusted customer.</p>

<h3>What about face to face for cash ?</h3>

<p>Not a problem. There are many people who provide such a service through a site called Local Bitcoins. Always be cautious when meeting with strangers though.</p>

<h3>OK - I think I'm ready to use Bitcoin now. Where next ?</h3>

<p>Take a look at the <a href="community.html">Community</a> section which will provide links to a lot of resources to help you explore.</p>