<h1>What can MultiBit do ?</h1>

<p>Here is a short summary of MultiBit's features:</p>
<ul class="list">
  <li>Quick and easy to install</li>
  <li>All private keys are kept encrypted on your local machine (or on a USB stick)</li>
  <li>Blockchain synchronization is much faster than the reference client (usually a minute or so)</li>
  <li>The stored data is much smaller (usually a few megabytes)</li>
  <li>Multiple wallets (curent account, savings account, expenses etc)</li>
  <li>Secure delete of wallets (prevents malicious recovery if you sell your computer)</li>
  <li>Multiple languages (25+ at the last release)</li>
  <li></li>
</ul>

