<h1>Why choose MultiBit HD?</h1>
<p>MultiBit HD is:</p>
<ul class="list">
  <li>Quick and easy to install across all major desktop operating systems (Windows, Mac, Linux)</li>
  <li>Secure by design - all your data is kept encrypted on your local machine</li>
  <li>Faster to synchronize - usually a minute or so</li>
  <li>Deterministic - you have a seed phrase which you can use to reclaim your bitcoin</li>
  <li>Lighter - the stored data is much smaller (usually a few megabytes)</li>
  <li>Decentralised - no fixed servers only the Bitcoin network</li>
  <li>International - <a href="http://translate.multibit.org" target="_blank">multiple languages</a> (35+ at the last release)</li>
</ul>
<p>If you are an ordinary user of Bitcoin and simply want a wallet that just works without hassle, then MultiBit HD is the right choice for you.</p>
<p>You can download it using the Download link and be up and running with Bitcoin in 5 minutes.</p>
