<h1>Problem ?</h1>
<ul>
  <li><a href="#quick-fixes">Quick fixes</a></li>
  <li><a href="#how-to-install">How to install</a></li>
  <li><a href="#all-help">Release-specific help</a></li>
</ul>

<hr/>

<h1 id="quick-fixes">Quick fixes</h1>

<p>Here are some quick fixes to common issues:</p>
<ul>
  <li><a href="/en/help/v0.5/help_resetBlockchain.html">Transactions are missing</a></li>
  <li><a href="/en/help/v0.5/help_support_missingWallets.html">Lost wallet</a></li>
  <li><a href="/en/help/v0.5/help_lostOrForgottenPassword.html">Lost or forgotten password</a></li>
  <li><a href="en/help/v0.5/help_support_sentBitcoinToMultibitButTheyNeverArrived.html">Receiving doesn't work</a></li>
  <li><a href="en/help/v0.5/help_support_sentBitcoinFromMultibitButTheyAreStuck.html">Sending doesn't work</a></li>
  <li><a href="en/help/v0.5/help_support_errorCodes.html">I'm seeing an error code</a></li>
</ul>

<h1>None of those helped. What now ?</h1>
<p>Check that you're using the latest version of MultiBit (downloadVersion) using the "About" menu in MultiBit.</p>
<p>If you need to upgrade, do the following:</p>
<ol>
  <li>Copy your existing MultiBit wallets somewhere under your exclusive control (e.g. USB stick, not a cloud backup provider)</li>
  <li>Download and install the latest version for your computer (use the links provided in the side panel).</li>
  <li>Start the upgraded version and check if the problem is still happening</li>
</ol>

<h1>I'm using downloadVersion and it's still happening. What now ?</h1>
<p>There are lots of support resources online to help you use MultiBit. Just a little bit of <a href="https://www.google.com/search?q=help+with+multibit" target="_blank">searching in Google</a> will often resolve the problem.</p>
<ol>
  <li><a href="/en/help/v0.5/help_contents.html">Read through the MultiBit help</a> (if you have not done so already).</li>
  <li>Look through the <a href="http://bitcoin.stackexchange.com/search?q=multibit" target="_blank">Bitcoin Stack Exchange</a> site.</li>
  <li>
    <a href="https://github.com/jim618/multibit/search?q=help&type=Issues" target="_blank">Search previous MultiBit issues</a> because someone else has almost certainly been in the same situation.
  </li>
</ol>

<h1>I'm the first person to have this problem! What now ?</h1>
<p>OK, you should file an Issue. Use the approach below to get the fastest response from the support team:</p>
<ol>
  <li>Copy the following text:
<pre>
  Bug report
  Operating System:
  MultiBit Version:
  Steps to replicate the problem:
</pre>
  </li>
  <li>Re-visit the <a href="https://github.com/jim618/multibit/issues" target="_blank">MultiBit Issue reporting center</a></li>
  <li>Click on the "New Issue" button.</li>
  <li>Paste the template text and fill it in for your computer. The more detail you can give the quicker we can address the problem. Screenshots are often very useful.</li>
</ol>

<hr/>
<h1 id="how-to-install">How to install</h1>
<h2><b>Windows</b> - How to install MultiBit</h2>
<p>Download the <a href="https://multibit.org/releases/multibit-downloadVersion/multibit-downloadVersion-windows-setup.exe">Windows installer</a>.</p>
<p>To run the installer, double click it and follow the instructions.</p>
<p>Once installed, you can start MultiBit with the 'MultiBit' shortcut in your 'All Programs | MultiBit' menu or with your desktop 'MultiBit' shortcut.</p>
<p>Note: If you are on Windows 8 and the installer gives the error <code>"This directory cannot be written to"</code> this is because you need to run it as an
  <strong>administrator</strong>. Close the installer. Right click on it and choose the option "Run as administrator".
<hr/>

<h2><b>Mac</b> - How to install MultiBit</h2>
<p>Download the <a href="https://multibit.org/releases/multibit-downloadVersion/multibit-downloadVersion.dmg">Mac OS X installer</a>.</p>
<p>After you have downloaded the disk image file, double click it and a folder window opens.</p>
<p>In the open folder window, drag the <code>MultiBit.app</code> application to the Applications link. MultiBit will then be copied to your Applications folder</p>
<p>You can then open MultiBit by double clicking on this app in your Applications folder.</p>
<br/>
<hr/>

<h2><b>Linux</b> - How to install MultiBit</h2>
<p>Download the <a href="https://multibit.org/releases/multibit-downloadVersion/multibit-downloadVersion-linux.jar">Linux / Unix installer</a>.</p>
<p>Open a terminal window and make the installer executable with:</p>
<pre>chmod +x multibit-downloadVersion-linux.jar</pre>
<p>Run the installer with:</p>
<pre>java -jar multibit-downloadVersion-linux.jar</pre>
<p>Follow the instructions in the installer.</p>
<p>After installation, you will have a shortcut to start MultiBit in your "Applications | Other" menu.</p>

<h3>Common gotchas</h3>
<p>If you get an error like
  <code>"No command 'java' found"</code> or the installer window does not appear you probably need to install an up-to-date version of Java. See the section 'How to install Java on Linux' below.
</p>
<p>If you see an error
  <code>"***.desktop (No such file or directory)"</code> this is a glitch in installing the MultiBit shortcuts. If you run the installer again with the same settings it normally fixes it.
</p>
<p>If no MultiBit shortcut is created, you can run MultiBit manually as follows:</p>
<ol>
  <li>open a terminal window and 'cd' to your installation directory</li>
  <li>type <code>java -jar multibit-exe.jar</code></li>
</ol>

<h3>How to install Java on Linux</h3>
<p>To install Java on a recent copy of <strong>Ubuntu</strong> open a terminal window and type:</p>
<pre>sudo apt-get install openjdk-7-jdk</pre>
<p>You will be prompted for your system password and then it will install the required packages.</p>
<p>If you are running an older version of Ubuntu (e.g. something like Ubuntu 10.4 LTS) you will have to use the following:</p>
<pre>sudo apt-get install openjdk-<b>6</b>-jdk</pre>

<p>For <b>RedHat / CentOS</b> the installation command is:</p>
<pre>yum install java</pre>

<hr/>

<h1 id="all-help">Help contents for all versions</h1>
<p>You can access the MultiBit help as follows:</p>
<ul>
  <li><a href="/en/help/v0.5/help_contents.html" title="Online help for MultiBit 0.5.x">MultiBit version 0.5.x</a></li>
  <li><small><a href="/en/help/v0.4/help_contents.html" title="Online help for MultiBit 0.4.x (no longer supported)">MultiBit version 0.4.x (no longer supported)</a></small></li>
</ul>
<hr/>
