<h1>Problem ?</h1>
<ul>
  <li><a href="#quick-fixes">Quick fixes</a></li>
  <li><a href="/en/help/v0.5/help_installing.html">How to install</a></li>
  <li><a href="/en/help/v0.5/help_gettingStarted.html">Getting started</a></li>
  <li><a href="/en/help/v0.5/help_upgrading.html">How to upgrade from a previous version</a></li>
  <li><a href="#all-help">Release-specific help</a></li>
</ul>

<hr/>

<h1 id="quick-fixes">Quick fixes</h1>

<p>Here are some quick fixes to common issues:</p>
<ul>
  <li><a href="/en/help/v0.5/help_support_missingWallets.html">Lost wallet</a></li>
  <li><a href="/en/help/v0.5/help_lostOrForgottenPassword.html">Lost or forgotten password</a></li>
  <li><a href="/en/help/v0.5/help_support_sentBitcoinToMultibitButTheyNeverArrived.html">I sent bitcoin <strong>to</strong> MultiBit but they never arrived</a></li>
  <li><a href="/en/help/v0.5/help_support_sentBitcoinFromMultibitButTheyAreStuck.html">I send bitcoin <strong>from</strong> MultiBit but they are stuck</a></li>
  <li><a href="/en/help/v0.5/help_support_errorCodes.html">I'm seeing an error code</a></li>
</ul>
<h1>None of those helped. What now ?</h1>
<p>Check that you're using the latest version of MultiBit (downloadVersion) using the "About" menu in MultiBit. <a href="/en/help/v0.5/help_upgrading.html">Follow the upgrade instructions</a> if necessary.</p>

<h1>I'm using downloadVersion and it's still happening. What now ?</h1>
<p>There are lots of support resources online to help you use MultiBit. Just a little bit of <a href="https://www.google.com/search?q=help+with+multibit" target="_blank">searching in Google</a> will often resolve the problem.</p>
<ol>
  <li><a href="/en/help/v0.5/help_contents.html">Read through the MultiBit help</a> (if you have not done so already).</li>
  <li>Look through the <a href="http://bitcoin.stackexchange.com/search?q=multibit" target="_blank">Bitcoin Stack Exchange</a> site.</li>
  <li>
    <a href="https://github.com/jim618/multibit/search?q=help&type=Issues" target="_blank">Search previous MultiBit issues</a> because someone else has almost certainly been in the same situation.
  </li>
</ol>

<h1>I'm the first person to have this problem! What now ?</h1>
<p>OK, you should file an Issue. Use the approach below to get the fastest response from the support team:</p>
<ol>
  <li>Copy the following text:
<pre>
  Bug report
  Operating System:
  MultiBit Version:
  Steps to replicate the problem:
</pre>
  </li>
  <li>Re-visit the <a href="https://github.com/jim618/multibit/issues" target="_blank">MultiBit Issue reporting center</a></li>
  <li>Click on the "New Issue" button.</li>
  <li>Paste the template text and <strong>fill it in for your computer</strong>. The more detail you can give the quicker we can address the problem. Screenshots are often very useful.</li>
</ol>

<hr/>

<h1 id="all-help">Help contents for all versions</h1>
<p>You can access the MultiBit help as follows:</p>
<ul>
  <li><a href="/en/help/v0.5/help_contents.html" title="Online help for MultiBit 0.5.x">MultiBit version 0.5.x</a></li>
  <li><small><a href="/en/help/v0.4/help_contents.html" title="Online help for MultiBit 0.4.x (no longer supported)">MultiBit version 0.4.x (no longer supported)</a></small></li>
</ul>
<hr/>
