<h3>Help</h3>

<p>Bitcoin can be complex and issues often arise. Due to the sheer number of downloads that MultiBit has received it is not possible for us to respond
personally to every request for assistance. However, we have comprehensive help articles covering the vast majority of issues that our users face.</p>

<h4>Select your version of MultiBit</h4>

<div class="panel panel-info">

  <div class="panel-body">

    <div class="col-xs-6 text-center">

      <a href="/en/help/hd0.2/contents.html"
         title="MultiBit HD">
      <img class="img-responsive" src="/images/en/screenshots/mbhd-0.2/send-receive.png" title="MultiBit HD"/>
      </a>
      <br/>MultiBit HD<br/>
      <a href="/en/help/hd0.1/contents.html">I want the older version 0.1.x help</a>
    </div>

    <div class="col-xs-6 text-center">

      <a href="/en/help/v0.5/help_contents.html"
         title="MultiBit Classic">
        <img class="img-responsive" src="/images/en/screenshots/mbc-0.5/main.png" title="MultiBit Classic"/>
      </a>
      <br/>MultiBit Classic<br/>
      <a href="/en/help/hd0.1/how-to-upgrade-from-classic.html">You should upgrade to MultiBit HD</a>
    </div>

  </div>

</div>
