<script>
  function showDownload(){
    $(".mb-downloads .panel.mb-download-panel .panel-heading").slideUp(function(){
      $(".mb-download-link-disabled").fadeOut(function(){
        $(".mb-download-link").fadeIn();
        $(".mb-downloads .panel.mb-download-panel .panel-body").addClass("mb-downloads-enabled");
      });
    });
  }
</script>

<div class="mb-downloads">

  <div class="panel panel-info mb-download-panel">

    <div class="panel-heading">
      <span class="mb-download-terms-and-conditions-text">It is important to read the <a href="tandc.html" target="_blank">terms and conditions</a>.</span>
      <div class="checkbox">
        <label>
          <input type="checkbox" onchange="showDownload()">I accept the terms and conditions.
        </label>
      </div>
    </div>

    <div class="panel-body">

      <div class="col-xs-4">
        <div class="mb-download-link-disabled text-center">
          <div class="well">
            <i class="mb-download-icon fa fa-windows fa-5x"></i>
            <br />MultiBit HD for Windows
          </div>
        </div>
        <div class="mb-download-link text-center">
          <a href="#" class="btn btn-default col-xs-12" title="Click to download MultiBit HD for Windows">
            <i class="mb-download-icon fa fa-windows fa-5x"></i>
            <br />MultiBit HD<br /> for Windows</a>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="mb-download-link-disabled text-center">
          <div class="well">
            <i class="mb-download-icon fa fa-linux fa-5x"></i>
            <br />MultiBit HD for Linux
          </div>
        </div>
        <div class="mb-download-link text-center">
          <a href="#" class="btn btn-default col-xs-12" title="Click to download MultiBit HD for Linux">
            <i class="mb-download-icon fa fa-linux fa-5x"></i>
            <br />MultiBit HD<br /> for Linux</a>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="mb-download-link-disabled text-center">
          <div class="well">
            <i class="mb-download-icon fa fa-apple fa-5x"></i>
            <br />MultiBit HD for Apple
          </div>
        </div>
        <div class="mb-download-link text-center">
          <a href="#" class="btn btn-default col-xs-12" title="Click to download MultiBit HD for Apple">
            <i class="mb-download-icon fa fa-apple fa-5x"></i>
            <br />MultiBit HD<br /> for Apple</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row mb-video-and-features">

  <div class="col-md-7 col-lg-8">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/uzOXzvMG2G8"></iframe>
    </div>
  </div>

  <div class="col-md-5 col-lg-4">
    <h3 class="mb-features-heading">Why choose MultiBit HD ?</h3>
    <p>MultiBit HD is:</p>
    <ul class="list">
      <li>Quick and easy to install across all major desktop operating systems (Windows, Mac, Linux)</li>
      <li>Secure by design - all your data is kept encrypted on your local machine</li>
      <li>Faster to synchronize - usually a minute or so</li>
      <li>Deterministic - you have a seed phrase which you can use to reclaim your bitcoin</li>
      <li>Decentralised - no fixed servers only the Bitcoin network</li>
      <li>International - <a href="http://translate.multibit.org" target="_blank">multiple languages</a> (35+ at the last release)</li>
    </ul>
    <p>If you are an ordinary user of Bitcoin and simply want a wallet that just works without hassle, then MultiBit HD is the right choice for you.</p>
    <p>You can download it using the buttons above and be up and running with Bitcoin in 5 minutes.</p>
    <p>To get a full list of versions go to the <a href="/download.html">download section</a>.</p>
  </div>

</div>
