<h1>What is MultiBit?</h1>
<div class="home">
<p>MultiBit is a secure, lightweight, international Bitcoin wallet for Windows, MacOS and Linux
  <ul>
    <li>MultiBit makes performing Bitcoin transactions quick and simple</li>
    <li>MultiBit comes in a variety of <a href="http://translate.multibit.org" target="_blank">languages</a> because Bitcoin is without borders</li>
    <li>MultiBit is <a href="http://www.fsf.org/about/what-is-free-software" target="_blank" >free and open source</a> under the MIT license</li>
    <li>MultiBit is easy to install</li>
  </ul>
</div>
  <h1 class="image">Screenshots</h1>
  <div id="slide" style="position: relative;">
    <img title="welcome" alt="welcome" src="/images/en/screenshots/welcome.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="transactions" alt="transactions" src="/images/en/screenshots/transactions.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="send" alt="send" src="/images/en/screenshots/send.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="preferences1" alt="preferences" src="/images/en/screenshots/preferences1.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="export private keys" alt="export private keys" src="/images/en/screenshots/exportPrivateKeys.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="help" alt="help" src="/images/en/screenshots/help.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="request" alt="request" src="/images/en/screenshots/request.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="import private keys" alt="import private keys" src="/images/en/screenshots/importPrivateKeys.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="reset" alt="reset" src="/images/en/screenshots/reset.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
    <img title="messages" alt="messages" src="/images/en/screenshots/messages.png" width="558"
    height="377" border="0"
    style="position: absolute; top: 0; left: 0; z-index: 2; display: block; opacity: 1; ">
  </div>