<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Accept terms and conditions
          </label>
        </div>
      </div>
      <div class="panel-body text-center">
        <a class="btn btn-lg btn-default" href="#">
          <i class="fa fa-windows fa-5x"></i><br>MultiBitHD for Windows</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Accept terms and conditions
          </label>
        </div>
      </div>
      <div class="panel-body text-center">
        <a class="btn btn-lg btn-default" href="#">
          <i class="fa fa-linux fa-5x"></i><br>MultiBitHD for Linux</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Accept terms and conditions
          </label>
        </div>
      </div>
      <div class="panel-body text-center">
        <a class="btn btn-lg btn-default" href="#">
          <i class="fa fa-apple fa-5x"></i><br>MultiBitHD for Apple</a>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-md-8">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/LlFPYBYIayU"></iframe>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Feature list</h3>
  </div>

</div>