<h3>Privacy Policy</h3>

<p>We believe that privacy is one of the most precious aspects of our lives. Consequently we work hard to ensure that
  we know as little about you as possible. The following sets that out in more detail.</p>

<h3>The Short Version</h3>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h3>Cookies</h3>

      <p>We use a <a href="http://en.wikipedia.org/wiki/HTTP_cookie#Session_cookie" target="_blank">session cookie</a> to track your acceptance of the terms and conditions.</p>

      <p>We do not use tracking cookies but third party providers might.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>Software</h3>

      <p>The <a href="https://github.com/bitcoin-solutions/multibit-hd">source code is available in GitHub</a>.</p>

      <p>You can download the Software and use it in any manner you choose under the terms
        of our modified MIT licence.</p>
    </div>

  </div>
  <div class="col-md-4">
    <div class="well">

      <h3>Anonymity</h3>

      <p>We do not need any of your private information so we do not collect it.</p>

      <p>We remove personally identifying information where possible.</p>
    </div>
  </div>
</div>

<p><a class="btn btn-default" href="/index.html">Got it</a>&nbsp;&nbsp;<a href="tandc.html">Review terms and conditions</a></p>

<h3>Full Version</h3>

<div class="row">
  <div class="col-md-12">

    <p>We are committed to protecting the privacy of visitors to our website. This Privacy Policy will explain what information we
      collect through our websites and how it is used.</p>

    <p>In this policy, "we", "us" and "our" refers to company staff, board members, cooperating lawyers, interns,
      volunteers, and consultants, all of whom are bound by law or contract to keep confidential information they
      receive as part of their assistance to our organisation.</p>

    <p>We do not sell or rent member or website visitor information under any circumstances, and we do not
      share member or visitor information without prior consent except as compelled by law. (See discussion
      below).</p>

    <h3>Information gathered by our site</h3>

    <h4>Logging</h4>

    <p>For visitors to our website, we generally log requests to our website through a program called
      logback (described further below) for up to fourteen days from when the data was collected.</p>

    <p>Circumstances in which we may need to log and retain technical information for longer than fourteen days include
      when we believe it is reasonably necessary to continue our operations, including situations such as:</p>

    <ul>
      <li>diagnosis of technical problems</li>
      <li>defending against attacks to the site,</li>
      <li>handling a spike in traffic or other abnormal, short-term circumstances</li>
      <li>site testing</li>
    </ul>

    <p>In those and similar situations we will delete the information as soon as it is apparent that the information
      is no longer needed for the purpose for which it was retained.</p>

    <p>We do not use tracking or persistent cookies.</p>

    <h4>Voluntarily submitted information</h4>

    <p>We may ask for additional personal information when you provide feedback or comments or otherwise communicate
      with us.</p>

    <p>It is up to you whether to submit information to us, and how much information to provide.</p>

    <p>Your interactions with us are limited to downloading digital products so we are able to operate without any personally
      information thus you may remain completely anonymous.</p>

    <h4>Mailing lists</h4>

    <p>If you choose to subscribe to our newsgroup or any of our other mailing lists, we will need to collect your
      email address. This will be held by the operator of the newsgroup (e.g. Google Groups etc).</p>

    <h3>Information gathered by the Software</h3>

    <p>During wallet creation a unique irreversible identifier is created and sent to our site. This is stored and
      used as follows:</p>
    <ul>
      <li>to provide a timestamp lookup facility to assist with faster synchronization</li>
      <li>to ensure that the same fee payment addresses are supplied for the same wallet words</li>
    </ul>

    <p>The unique identifier:</p>
    <ul>
      <li><strong>does not</strong> allow us reverse engineer wallet words or any other wallet information</li>
      <li><strong>does not</strong> allow us to spend or recover bitcoins</li>
      <li><strong>does not</strong> allow us to identify you as an individual (no IP address is stored for example)</li>
      <li><strong>does not</strong> allow us to track you</li>
    </ul>

    <p>The algorithm for the unique identifier is specified in the <a href="https://github.com/bitcoin-solutions/brit-server/blob/develop/src/main/doc/Overview-of-BRIT.md">BRIT
      documentation</a> which clearly describes how we collect fees.</p>

    <h3>Our use of your information</h3>

    <p>In general, we use the information provided by you to allow us to correspond efficiently with you. We do not share this information.</p>

    <h4>Publication by us</h4>

    <p>If you provide information for publication (such as a product review) we may use your name and contact
      information you have provided to us to provide you with attribution. You can select which information can be used
      during the publication process when we will attempt to contact you for permission.</p>

    <h4>Third-party service providers</h4>

    <p>Portions of our website, such as issue management and content delivery networks are operated by third-party companies
      such as GitHub and Google. These service providers may place cookies on your computer. They may also
      log standard technical information, such as:
    <ul>
      <li>the numerical Internet Protocol (IP) address of the computer you are using</li>
      <li>the browser software you use and your operating system</li>
      <li>the date and time you access our site</li>
      <li>the Internet address of the website from which you linked directly to our site</li>
    </ul>

    <p>Our service providers may also store and organise the personal information collected through this site on our behalf.</p>

    <p>We may change the specific third-party providers from time to time, and will transfer stored information to
      any new provider subject to similar restrictions and agreements. From time to time, we may work with
      third-party consultants or other service providers who may have access to personally identifiable information.
      In such cases, we will restrict their use of personally identifiable information in accordance with their
      assigned tasks.</p>

    <p>Our site also provides links to a wide variety of third-party websites, including interactive links to sites
      like YouTube, Twitter or GitHub. We are not responsible for, and do not have any control over, the
      privacy practices or the content of such third parties. We encourage our visitors to read the privacy policies
      of any website visited via links from our website.</p>

    <h4>Disclosure of your information</h4>

    <p>While we endeavour to provide the highest level of protection for your information, we may disclose
      personally identifiable information about you to third parties in limited circumstances, including:</p>
    <ol>
      <li>with your consent</li>
      <li>when we have a good faith belief it is required by law, such as pursuant to a subpoena or
        other judicial or administrative order
      </li>
    </ol>

    <p>If we are required by law to disclose the information that you have submitted, we will attempt to provide you
      with notice (unless we are prohibited) that a request for your information has been made in order to give you
      an opportunity to object to the disclosure. We will attempt to provide this notice by email if you have given
      us an email address. If you do not challenge the disclosure request, we may be legally required to turn over
      your information.</p>

    <p>In addition, we will independently object to requests for access to information about users of our site that
      we believe to be improper.</p>

    <h4>Updating or removing your information</h4>

    <p>You may choose to correct, update, or delete the information you have submitted to us by sending an
      email requesting changes to <a href="mailto:support@bitcoin-solutions.co.uk">support@bitcoin-solutions.co.uk</a>.
      Furthermore, if we inadvertently collect more personal information than intended, we endeavour to delete the
      extraneous information. However, please understand that deleted information may continue to persist on encrypted
      backup media.</p>

    <h4>Changes to our policies</h4>

    <p>Our Privacy Policy may change from time to time. However, any revised privacy policy will be consistent with
      our approach to respecting your privacy online. If we make any substantive changes to our policies, we will
      issue a notification on the <a href="https://github.com/bitcoin-solutions/multibit-website" target="_blank">repository
        storing the policy</a>. You are encouraged to add yourself to the watch list for the repository to ensure
      you receive these emails.</p>

    <h4>Security</h4>

    <p>We employ industry standard security measures to protect the loss, misuse, and alteration of the information
      under our control. We use HTTPS and digital signatures by default.</p>
    <p>All our release notes are Bitcoin signed using our MultiBit Classic donation address
      (<a href="bitcoin:1AhN6rPdrMuKBGFDKR1k9A8SCLYaNgXhty?amount=0.01&amp;label=Please%20donate%20to%20multibit.org">1AhN6rPdrMuKBGFDKR1k9A8SCLYaNgXhty</a>).
      You can use the MultiBit HD 'Tools | Verify message' screen to verify these release notes were signed by us.
      Copy the release notes, click 'Paste All', check the contents then press 'Verify Message'. You should
      see a message that this message was signed by our address.</p>

    <p>Although we make good faith efforts to store information collected by us in a secure operating environment,
      we cannot guarantee complete security. Information collected by us will be maintained for a length of time
      appropriate to our needs.</p>

    <h4>Update history</h4>
    <ul>
      <li>1st March 2015. Added details in 'Security' on how we Bitcoin sign our release notes.</li>
    </ul>
  </div>
</div>