    <h1>Releases</h1> 
      <dl>
        <dt>All</dt>
        <dd>
          <h4>All available releases</h4>
          <ul>
            <li>All available releases are <a href="releases">here</a></li>
           </ul>
        </dd>
      </dl>

   <dl>
      <dt>22 Jul 2013</dt>
      <dd>
        <h4>V0.5.13</h4> 
        <ul>
          <li><a href="releases/multibit-0.5.13/release.txt">Release notes</a></li>
         </ul>   
      </dd>
   </dl>

   <dl>
      <dt>24 Jun 2013</dt>
      <dd>
        <h4>V0.5.12</h4> 
        <ul>
          <li><a href="releases/multibit-0.5.12/release.txt">Release notes</a></li>
         </ul>   
      </dd>
   </dl>

      <dl>
      <dt>3 Jun 2013</dt>
      <dd>
        <h4>V0.5.11</h4> 
        <ul>
          <li><a href="releases/multibit-0.5.11/release.txt">Release notes</a></li>
         </ul>   
      </dd>
   </dl>
   <dl>
      <dt>27 May 2013</dt>
      <dd>
        <h4>V0.5.10</h4> 
       <h5>Changes</h5>
        <ul>
          <li>Fixed issue 116 - could not import blockchain.info backups</li>
          <li>Fixed issue 117 - fee was too high</li>
          <li>Fixed issue 121 - MtGox ticker information not showing</li>
          <li>Fixed issue 125 - improved overzealous syncing of wallet(s)</li>
          <li>Fixed issue 137 - Import / Export filechooser nomenclature</li>
          <li>Fixed issue 140 - use installed checkpoints file if newer</li>
          <li>Fixed issue 141 - bump to XChange 1.7.0, XChart 2.2.0</li>
  	</ul>  
        <h5>Release info</h5>
        <ul>
          <li><a href="test/releaseCheckList-0.5.10.jpg">Scan of release check list</a></li>
         </ul>   
      </dd>
    </dl>

    <dl>
      <dt>22 Apr 2013</dt>
      <dd>
        <h4>V0.5.9 (Encrypted Wallets release)</h4> 
       <h5>Features</h5>
        <ul>
          <li>Version number removed from Mac app name</li>
          <li>Updated help files</li>
          <li>Fixed bug on opening wallet that is already open</li>
          <li>Fixed ticker restart bug</li>
  	</ul>  
        <h5>Release info</h5>
        <ul>
          <li><a href="test/releaseCheckList-0.5.9.jpg">Scan of release check list</a></li>
         </ul>   
      </dd>
    </dl>

     <br><br> 
     <h3><a href="releases-early.html">Earlier releases</a></h3>
 