<div class="panel panel-info">

  <div id="releases" class="panel-heading">
    <span>MultiBit Classic Releases</span>
  </div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p>MultiBit Classic is free and open source under the MIT licence.</p>

      <p>It is now considered to be a <strong>legacy product</strong> and is in maintenance mode. This means that only essential security
        and network compatibility updates will be made to the codebase.</p>

      <p>The security model of MultiBit Classic is weaker than MultiBit HD so we only recommend using it if you have private keys that cannot be migrated. </p>

      <p><a href="">You should upgrade to MultiBit HD</a>.</p>

      <ul>
        <li><a href="#0.5.19">0.5.19</a></li>
        <li><a href="#0.5.18">0.5.18</a></li>
        <li><a href="#0.5.17">0.5.17</a></li>
        <li><a href="#0.5.16">0.5.16</a></li>
        <li><a href="#0.5.15">0.5.15</a></li>
        <li><a href="#0.5.14">0.5.14</a></li>
        <li><a href="#0.5.13">0.5.13</a></li>
        <li><a href="#0.5.12">0.5.12</a></li>
        <li><a href="#0.5.11">0.5.11</a></li>
        <li><a href="releases-early.html">Earlier MultiBit Classic releases</a></li>
      </ul>

    </div>

  </div>

</div>


<div class="panel panel-info">

  <div id="0.5.19" class="panel-heading">Release 0.5.19</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-classic-0.5.19/" target="_blank">Installers and signatures</a></p>

      <a href="https://multibit.org/releases/multibit-classic/multibit-classic-0.5.19/release.txt">Release notes</a>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>

<div class="panel panel-info">

  <div id="0.5.18" class="panel-heading">Release 0.5.18</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.18/" target="_blank">Installers and signatures</a></p>

      <a href="https://multibit.org/releases/multibit-classic/multibit-0.5.18/release.txt">Release notes</a>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>


<div class="panel panel-info">

  <div id="0.5.17" class="panel-heading">Release 0.5.17</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.17/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.17/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>


<div class="panel panel-info">

  <div id="0.5.16" class="panel-heading">Release 0.5.16</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.16/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.16/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>


<div class="panel panel-info">

  <div id="0.5.15" class="panel-heading">Release 0.5.15</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.15/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.15/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>

<div class="panel panel-info">

  <div id="0.5.14" class="panel-heading">Release 0.5.14</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.14/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.14/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>

<div class="panel panel-info">

  <div id="0.5.13" class="panel-heading">Release 0.5.13</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.13/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.13/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>

<div class="panel panel-info">

  <div id="0.5.12" class="panel-heading">Release 0.5.12</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.12/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.12/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>

<div class="panel panel-info">

  <div id="0.5.11" class="panel-heading">Release 0.5.11</div>

  <div class="panel-body">

    <div class="col-xs-12">

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.11/" target="_blank">Installers and signatures</a></p>

      <p><a href="https://multibit.org/releases/multibit-classic/multibit-0.5.11/release.txt">Release notes</a></p>

      <p><a href="#releases">Back to releases</a></p>

    </div>

  </div>

</div>
