<h1>The MultiBit Team</h1>
<p>The following people are involved in the creation of MultiBit</p>
<ul>
  <li>Jim Burton (Lead developer)</li>
  <li><a href="http://gary-rowe.com" target="_blank">Gary Rowe (Contributor)</a></li>
  <li><a href="https://github.com/timmolter" target="_blank">Tim Molter (Contributor)</a></li>
</ul>

<h1>Fast fixes</h1>
<p>Sometimes a transaction seems to get "stuck" leading to concern that it hasn't been sent or received. This is almost
  always fixed by using the "Reset Blockchain" option from the Tools menu.</p>

<h1>Steps to take if you need help</h1>

<p>There are various support resources online if you need help using MultiBit:</p>
<ol>
<li><p>Read through the MultiBit help if you have not done so already. In MultiBit choose the menu option "Help | Help Contents" or read the <a href="help.html">release documentation</a> for your version.</p></li>
<li><p>Check the support notes in the <a href= "https://bitcointalk.org/index.php?board=99.0" target="_blank">MultiBit forum.</a> Topics include:</p>
<ul>
  <li><p><a href="https://bitcointalk.org/index.php?topic=159428.0">I opened MultiBit and my wallet(s) were missing.</a></p></li>
  <li><p><a href="https://bitcointalk.org/index.php?topic=159437.0">I sent some bitcoin TO MultiBit but they never arrived.</a></p></li>
  <li><p><a href="https://bitcointalk.org/index.php?topic=161311.0">I sent some bitcoin FROM MultiBit but they are stuck.</a></p></li>
</ul>
</li>
<li><p>A quick search on <a href="http://bitcoin.stackexchange.com/search?q=multibit" target="_blank">Bitcoin StackExchange</a> can often be fruitful.</p></li>
<li>If that does not resolve your issue, see if it is already raised in the <a href="https://github.com/jim618/multibit/issues" target="_blank">MultiBit Issue reporting center</a>. There may be a workaround.</p></li>
<li><p>If you discover a new bug in MultiBit please report it - it makes MultiBit better for everyone. To report a bug please do the following</p>
<ol>
  <li>Copy the following text:
<pre>
  Bug report
  Operating System:
  MultiBit Version:
  Steps to replicate the problem:
</pre>
  </li>
  <li>Visit the <a href="https://github.com/jim618/multibit/issues" target="_blank">MultiBit Issue reporting center</a></li>
  <li>Click on the "New Issue" button.</li>
  <li>Paste the template text and fill it in for your system. The more detail you can give the quicker we can address the problem. Screenshots are often very useful.</li>
</ol>
</ol>

<p>Due to the number of downloads of MultiBit now gets we cannot answer every support query personally. We do see these issues and make acknowledging them a priority.</p>
