<h2>I opened MultiBit and my wallets were missing</h2>
<br/>
<h2>What are the symptoms ?</h2>
<p>You open MultiBit and instead of seeing your wallet(s) in the Wallet list, you don't see anything.</p>


<h2>What can you do when this happens ?</h2>
<p>Most likely you will still have your wallet(s) on your disk.</p>

<p>In the 'Help | Help Contents' menu option there is a section called 'Troubleshooting'. This describes where MultiBit stores the default wallet (multibit.wallet).</p><p>This help is also available here : <a href="en/help/v0.5/help_troubleshooting.html">Troubleshooting</a></p>

<p>Have a look in that directory. You can open any wallet there using the 'File | Open' option. The transactions might be a bit out of date but you can fix that using a <a href="en/help/v0.5/help_resetBlockchain.html">'Tools | Reset blockchain and transactions'</a>.</p>

<p>If you created a new wallet and stored it in another directory then you will have to look there.</p>
