<h3>Try MultiBit HD</h3>

<p>Thank you for using MultiBit Classic and for taking the time to learn about MultiBit HD.</p>

<p>MultiBit HD is a huge improvement over Classic and we think you will like it.</p>

<p>Here is a link to <a href="/en/help/hd0.1/how-to-upgrade-from-classic.html">the upgrade instructions</a> if you want to start using it right now.</p>

<h4>Side by side comparison</h4>

<div class="panel panel-info">
  <div class="panel-body">
    <div class="col-xs-6 text-center">
      <a href="/" title="MultiBit HD">
        <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/send-receive.png" title="MultiBit HD"/>
      </a>
      <br/><a href="/">MultiBit HD</a>
    </div>
    <div class="col-xs-6 text-center">
      <img class="img-responsive" src="/images/en/screenshots/mbc-0.5/main.png" title="MultiBit Classic"/>
      <br/>MultiBit Classic
    </div>
  </div>

</div>

<h4>Packed with useful features</h4>

<p>MultiBit HD is a major upgrade to Classic and contains a <a href="/blog/2015/06/09/multibit-hd-release-0.1.html">huge number of useful features</a> requested by Classic users.
  Here is a short summary:</p>

<ul>
  <li><strong>no more worrying about losing private keys or passwords</strong> - use your "wallet words" (seed phrase) to restore them</li>
  <li>simple and intuitive user interface - big accessible controls - great for touchscreens</li>
  <li><a href="https://buytrezor.com/?a=multibit.org" target="_blank">Trezor</a> and <a href="https://www.keepkey.com" target="_blank">KeepKey</a> support out of the box - just plug it in</li>
  <li>fast, lightweight block chain download just like before</li>
  <li>private Contacts database with notes and tags</li>
  <li>private Payments database with integrated exchange rates</li>
  <li>detailed integrated Help - no getting stuck</li>
  <li>adjustable fees - a wide range to suit your needs</li>
  <li>adjustable units - support for bits, ubits, millis etc</li>
  <li>integrated exchange rates from many exchanges - practically every national currency is supported</li>
  <li>export your transactions with <strong>historical spot rates</strong> to a financial package in standard CSV format - easier accounting</li>
  <li>themes to suit different lighting conditions</li>
  <li>better language coverage than Classic</li>
</ul>

<h4>MultiBit HD is open source but is not free</h4>

<p>Each spend incurs an extra 1,000 satoshi fee (about 0.5 US cents) that is bundled up and sent to the MultiBit development team every 15 to 25 sends.</p>

<p>You can <a href="/en/help/hd0.1/how-brit-works.html">find out more</a> by following the link.</p>

<h4>MultiBit HD and Classic run together happily on the same machine</h4>

<p>MultiBit HD has been designed to be completely separate from Classic. They can both safely operate on the same machine without interfering with each other.</p>

<p>Why not try MultiBit HD and explore its new features? When you want to make MultiBit HD your primary wallet simply spend your MultiBit Classic balance into MultiBit HD.</p>

<h4>Download MultiBit HD</h4>

<p>You can download MultiBit HD from the <a href="/">front page</a>. Read and accept the terms and conditions, then click the button
  for your operating system. After a moment your download will begin and you will be shown installation instructions including a <a href="https://www.youtube.com/watch?v=3B6xrfoPqPg&rel=0&modestbranding=1" target="_blank">YouTube video</a> on how to set up your wallet.</p>

<h4>Related articles</h4>
<p>Here are some related articles:</p>
<ul>
  <li><a href="/en/help/hd0.1/how-to-install.html">How to install MultiBit HD</a></li>
  <li><a href="/en/help/hd0.1/how-to-upgrade-from-classic.html">How to upgrade from MultiBit Classic</a></li>
</ul>
