html,body {
  margin: 0;
  padding: 0;
  background: 0 transparent;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  min-height: 100%;
}

/* Links */
a:link, a:visited, a:active {
  color: #973131;
}

a:link:hover, a:visited:hover, a:active:hover {
  color: #973131;
}

.ka_wrapper {
  display: table;
  height: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.ka_panel {
  position: absolute;
  top: 0;
  right: 0;
}

.ka_logo {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: #fff url(favicon.png);
  opacity: .3;
}

.area:hover .ka_logo {
  opacity: .9;
  background-color: #ffe6e6;
}

.ka_panel:hover .ka_menu {
  display: block;
}

.cell a {
  font-weight: 700;
  text-decoration: underline;
}

.cell p {
  margin: 0;
}

.cell {
  text-align: center;
  font-size: .9em;
  vertical-align: middle;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  padding: 0 18px;
}

.ka_menu a {
  color: #0069d6 !important;
}

.ka_menu a:hover {
  color: #00438a !important;
}

.ka_menu {
  display: none;
  background-color: #ffe6e6;
  font-size: .8em;
  line-height: 16px;
  padding: 0 21px 0 5px;
  text-align: left;
}