// This file provides non-Bootstrap configuration
// Refer to variables.less for all configuration
// Refer to bootswatch.less for Bootstrap-specific entries

@import url(http://fonts.googleapis.com/css?family=Oxygen:700);
@import "bootswatch.less";

html {
  position: relative;
  // Ensure footer is pushed to the bottom
  height: 100%;
}

body {
  // Margin bottom by footer height
  // margin-bottom: @footer-height;
}

.panel.mb-download-panel {
  // hide the border of this panel so we can customise its headder and body borders separately.
  border-color: white;
  border-width: 0;
}
.mb-download-panel .panel.mb-download-panel .panel-heading {
  border-style: solid;
  border-width: 1px;
}
.mb-downloads .panel.mb-download-panel .panel-body {
  padding-right: 0;
  padding-left: 0;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  border-color: #dcdcdc;
  border-radius: 0 0 4px 4px;
}
.mb-downloads .panel.mb-download-panel .panel-body.mb-downloads-enabled {
  border-top-width: 1px;
  border-radius: 4px;
}
// custom font awesome font size overrides
.mb-download-icon.fa-5x {
  font-size: 10vw;// use viewport percentage
  color: gray;
}
.mb-download-icon.fa-4x {
  font-size: 4vw;
}
.mb-downloads .panel.mb-download-panel .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
.mb-download-icon .well {
  margin-bottom: 0;
}
.mb-download-link {
  display: none;
}
.mb-download-link a .fa {
  color: #333;
}
.mb-download-link a:hover, .mb-download-link a:hover .fa {
  text-decoration: none;
  color: black;
}
.mb-download-link a.btn.btn-default:hover {
  background-color: #e0f0f8;
  background-image: none;
}

// Create a fixed footer
footer {
  width: 100%;
  height: @footer-height;
  background-color: #f5f5f5;
  margin-top: 15px;
}

// navbar
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom-width: 0;
  border-bottom-style: none;
}
.navbar-inverse .navbar-nav>li>a {
  color: #B9B9B9;
}

// due to ugly wrapping behaviour
#karmaAds iframe {
  border-radius: @navbar-border-radius;
  margin: 4px 15px 0px 15px;
  border: 1px solid @brand-tertiary;
  color: @brand-secondary;
  width: @ka-width;
  height: @ka-height;
}

// page header
.page-header {
  border-top: 1px solid #080808;
  padding-left: 14px;
  margin: 0 0 20px 0;
  padding-top: 55px;
  background-color: #222;
}
.page-header h1 {
  font-family: 'Corben', sans-serif;
  font-size: 300%;
  color: #E6E6E6;
  margin-top: 10px;
  margin-bottom: 5px;
}
.page-header a:hover {
  text-decoration: none;
}
.page-header img.header-logo {
  /* width just for older browsers */
  width: 64px;
  margin-right: 21px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  background-color: #f5f5f5;
}

@media (min-width: 992px) {
  .mb-video-and-features h3.mb-features-heading {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .mb-downloads .panel.mb-download-panel .panel-heading {
    height: 38px;
  }
  .mb-downloads .panel.mb-download-panel .mb-download-terms-and-conditions-text {
    float: left;
  }
  .mb-downloads .panel.mb-download-panel .checkbox {
    float: right;
  }
}

@media (max-width: 991px) {
  .container-main-content {
    padding-top: 69px;
  }
}