<div class="row mb-video-and-features">

  <div class="col-md-7 col-lg-8">

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/send-payment.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/request-payment.png"/>
        </div>
        <div class="active item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/payments.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/new-contact.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/preferences.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/manage-wallet.png"/>
        </div>
        <div class="item">
          <img class="img-responsive" src="/images/en/screenshots/mbhd-0.1/tools.png"/>
        </div>
      </div>
    </div>

  </div>

  <noscript>
    <div itemscope itemtype="http://schema.org/SoftwareApplication" class="col-md-5 col-lg-4">
      <h3 class = "mb-features-heading" h3>¿Por qué elegir MultiBit HD?</h3>

      <p>Si usted es un usuario normal de Bitcoin y quiere una cartera que funciona simplemente, MultiBit HD es la opción correcta para usted.</p>
      <p>MultiBit HD es:</p>
      <ul id="features-list-ns" class="list">
        <li>Rápido y fácil de instalar <br/>Apoyamos todos los principales sistemas operativos de escritorio (Windows, OS X, Linux)</li>
        <li>Seguro por diseño<br/>Todos sus datos se mantiene cifrada en su máquina local y apoyamos carteras de hardware, tales como <a
          href="https://buytrezor.com?a=multibit.org" target="_blank">Trezor</a></li>
        <li>Determinista<br/>Un conjunto de <strong>palabras de cartera</strong>, protege su bitcoin de pérdida de datos</li>
        <li>Descentralizada <br/> No hay servidores fijos - solo la red de Bitcoin</li>
        <li>Internacional<br/>Apoyamos <a href="https://crowdin.com/project/multibit-hd" target="_blank">más de 40 idiomas</a></li>
      </ul>

      <p>Puede descargarlo usando los botones de arriba y estar en funcionamiento con Bitcoin en 5 minutos.</p>

      <p>Buscando MultiBit Classic? <a href="/releases.html">Las descargas éstan aquí</a>.</p>

    </div>

  </noscript>

  <div itemscope class="col-md-5 col-lg-4 jsok">
    <h3 class = "mb-features-heading" h3>¿Por qué elegir MultiBit HD?</h3>

    <p>Si usted es un usuario normal de Bitcoin y quiere una cartera que funciona simplemente, MultiBit HD es la opción correcta para usted.</p>
    <p>MultiBit HD es:</p>
    <ul id="features-list-js" class="list">
      <li><i class="fa fa-windows fa-lg"></i>&nbsp;Rápido y fácil de instalar <br/>Apoyamos todos los principales sistemas operativos de escritorio (Windows, OS X, Linux)</li>
      <li><i class="fa fa-shield fa-lg"></i>&nbsp;Seguro por diseño<br/>Todos sus datos se mantiene cifrada en su máquina local y apoyamos carteras de hardware, tales como <a
        href="https://buytrezor.com?a=multibit.org" target="_blank">Trezor</a></li>
      <li><i class="fa fa-magic fa-lg"></i>&nbsp;Determinista<br/>Un conjunto de <strong>palabras de cartera</strong>, protege su bitcoin de pérdida de datos</li>
      <li><i class="fa fa-cloud fa-lg"></i>&nbsp;Descentralizada <br/>No hay servidores fijos - solo la red de Bitcoin</li>
      <li><i class="fa fa-globe fa-lg"></i>&nbsp;Internacional<br/>Apoyamos <a href="https://crowdin.com/project/multibit-hd" target="_blank">más de 40 idiomas</a></li>
    </ul>

    <p>Puede descargarlo usando los botones de arriba y estar en funcionamiento con Bitcoin en 5 minutos.</p>

    <p>Buscando MultiBit Classic? <a href="/releases.html">Las descargas éstan aquí</a>.</p>

  </div>

</div>

<script language="JavaScript">

  // invoke the carousel
  $('#myCarousel').carousel({
    interval: 5000
  });

  /* SLIDE ON CLICK */

  $('.carousel-linked-nav > li > a').click(function () {

// grab href, remove pound sign, convert to number
    var item = Number($(this).attr('href').substring(1));

// slide to number -1 (account for zero indexing)
    $('#myCarousel').carousel(item - 1);

// remove current active class
    $('.carousel-linked-nav .active').removeClass('active');

// add active class to just clicked on item
    $(this).parent().addClass('active');

// don't follow the link
    return false;
  });

  /* AUTOPLAY NAV HIGHLIGHT */

  // bind 'slid' function
  $('#myCarousel').bind('slid', function () {

// remove active class
    $('.carousel-linked-nav .active').removeClass('active');

// get index of currently active item
    var idx = $('#myCarousel .item.active').index();

// select currently active item and add active class
    $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

  });

</script>
